<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title mode="ios" color="light" [innerHTML]="mill_name"></ion-title>

    <ion-buttons slot="primary">
      <!-- <ion-button class="bg-light-color" (click)="callmodalcontroller('')">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button> -->

      <ion-button class="bg-light-color" (click)="btn_QRcodescanner()">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>

      <!-- <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge class="todaybadge" *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'android'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'twodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'ios'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'iostwodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myCard">
    <img class="backgroundimage" src="../../../assets/img/header_myPalm.png" />
    <div class="myOverlay">
      <div class="usermessagecard">
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 16px; font-weight: bold; margin: 0px">
              {{ 'SUPERVISORDASHBOARD.welcome' | translate}} {{userlist.name}}
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="home-box" #myElementRef>
    <div *ngIf="!nomachinesfound">
      <form [formGroup]="dashboardForm">
        <div class="titleheader" *ngIf="productionflag!=''">
          <div class="col">
            <div class="title text-uppercase">
              {{ 'SUPERVISORDASHBOARD.millproductionstatus' | translate}}
            </div>
          </div>
        </div>

        <div class="checkcard" *ngIf="productionflag!=''">
          <ion-row>
            <ion-col style="display: grid; justify-content: center">
              <div
                class="productionstatustitleheader"
                [style.backgroundColor]="getMillBackGroundColor(productionflag)"
              >
                <div class="productionstatustitle text-uppercase">
                  {{txt_millproductionstatus}}
                </div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center" *ngIf="productionflag=='1'">
              <p class="mdfont">{{txt_millstartstop}}</p>
              <p
                class="mdfont"
                style="color: #008000"
                *ngIf="millstartdatetime != ''"
              >
                {{millstartdatetime}}
              </p>

              <p
                class="mdfont"
                style="color: #008000"
                *ngIf="millstartdatetime == ''"
              >
                -
              </p>

              <div>
                <button
                  type="button"
                  class="h7 btn btn-refresh btn-sm float-right"
                  (click)="refreshRecords()"
                >
                  {{ 'GENERALBUTTON.refresh' | translate}}
                </button>
              </div>
            </ion-col>

            <ion-col style="text-align: center" *ngIf="productionflag!='1'">
              <p class="mdfont">{{txt_millstartstop}}</p>
              <p
                class="mdfont"
                style="color: #cb4335"
                *ngIf="millstopdatetime != ''"
              >
                {{millstopdatetime}}
              </p>

              <p
                class="mdfont"
                style="color: #cb4335"
                *ngIf="millstopdatetime == ''"
              >
                -
              </p>

              <div
                style="margin: 10px 0px 10px 0px"
                *ngIf="breakdownreason != ''"
              >
                <p class="mdfont">
                  {{ 'MAINTENANCEDASHBOARD.breakdownreason' | translate}}
                </p>

                <p class="mdfont" style="color: #cb4335">{{breakdownreason}}</p>
              </div>

              <div>
                <button
                  type="button"
                  class="h7 btn btn-refresh btn-sm float-right"
                  (click)="refreshRecords()"
                >
                  {{ 'GENERALBUTTON.refresh' | translate}}
                </button>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="titleheader" style="margin-top: 20px">
          <div class="col">
            <div class="title text-uppercase">
              {{ 'GENERALBUTTON.actions' | translate}}
            </div>
          </div>
        </div>

        <div class="checkcard">
          <ion-row *ngIf="!isDisabled">
            <ion-col>
              <button
                type="submit"
                class="btn"
                [ngClass]="{'btn-productionstart' : selectedlanguage == 'English', 'btn-productionstart-malay' : selectedlanguage == 'Malay'}"
                *ngIf="productionflag == '0'"
                (click)="confirmProduction(productionflag)"
              >
                {{ 'SUPERVISORDASHBOARD.startproduction' | translate}}
              </button>
              <button
                type="submit"
                class="btn"
                [ngClass]="{'btn-productionstop' : selectedlanguage == 'English', 'btn-productionstop-malay' : selectedlanguage == 'Malay'}"
                *ngIf="productionflag == '1'"
                (click)="confirmProduction(productionflag)"
              >
                {{ 'SUPERVISORDASHBOARD.stopproduction' | translate}}
              </button>
            </ion-col>

            <ion-col>
              <button
                type="submit"
                [disabled]="isDisabled"
                class="btn"
                [ngClass]="{'btn-breakdown' : selectedlanguage == 'English', 'btn-breakdown-malay' : selectedlanguage == 'Malay'}"
                (click)="breakdownalert()"
              >
                {{ 'SUPERVISORDASHBOARD.breakdown' | translate}}
              </button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isDisabled">
            <ion-col style="display: flex; justify-content: center">
              <button
                type="submit"
                class="btn"
                [ngClass]="{'btn-productionstart' : selectedlanguage == 'English', 'btn-productionstart-malay' : selectedlanguage == 'Malay'}"
                style="width: 250px"
                *ngIf="productionflag == '0' || productionflag == ''"
                (click)="confirmProduction(productionflag)"
              >
                {{ 'SUPERVISORDASHBOARD.startproduction' | translate}}
              </button>
              <button
                type="submit"
                class="btn"
                [ngClass]="{'btn-productionstop' : selectedlanguage == 'English', 'btn-productionstop-malay' : selectedlanguage == 'Malay'}"
                *ngIf="productionflag == '1'"
                style="width: 250px"
                (click)="confirmProduction(productionflag)"
              >
                {{ 'SUPERVISORDASHBOARD.stopproduction' | translate}}
              </button>
            </ion-col>
          </ion-row>
        </div>

        <div
          style="padding: 0px 6px 0px 6px; margin-top: 20px"
          *ngIf="!previoushistoryuienable && productionflag !=''"
        >
          <select
            formControlName="select_station"
            [ngClass]="{'selectdropdown' : (getplatform=='android'), 'iosselectdropdown' : (getplatform=='ios')}"
            (change)="onChangeStation()"
          >
            <option value="" selected>
              {{ 'SUPERVISORDASHBOARD.searchbystation' | translate}}
            </option>
            <option
              value="{{item.station_id}}"
              *ngFor="let item of stationlistArr"
            >
              {{ item.station_name }}
            </option>
          </select>
        </div>

        <!-- Stations and Machines -->
        <div *ngIf="uienable && !pleasewaitflag" style="margin-top: 10px">
          <div *ngFor="let station of stationsArr; let i=index">
            <div class="titleheader">
              <div class="col">
                <div class="title text-uppercase">{{station.stationname}}</div>
              </div>
            </div>

            <!-- <div class="h6 text-dark text-uppercase title">
            {{station.stationname}}
          </div> -->

            <div class="stationcard">
              <ion-row
                *ngIf="productionflag !='' && productionflag != '0'"
                class="vertical-align-content"
                style="padding-right: 5px"
              >
                <ion-col size="10" style="text-align: right">
                  <div class="h7 text-dark" *ngIf="station.stationstatus == 0">
                    <b>{{ 'SUPERVISORDASHBOARD.startmachine' | translate}}</b>
                  </div>
                  <div class="h7 text-dark" *ngIf="station.stationstatus != 0">
                    <b>{{ 'SUPERVISORDASHBOARD.stopmachine' | translate}}</b>
                  </div>
                </ion-col>

                <ion-col style="text-align: right" size="2">
                  <img
                    class="machineimg"
                    src="../../assets/img/on-button.png"
                    alt="PROFILE"
                    *ngIf="station.stationstatus == 0"
                    (click)="confirmStation(station.stationid, station.stationname, station.stationstatus)"
                  />
                  <img
                    class="machineimg"
                    src="../../assets/img/off-button.png"
                    alt="PROFILE"
                    *ngIf="station.stationstatus != 0"
                    (click)="confirmStation(station.stationid, station.stationname, station.stationstatus)"
                  />
                </ion-col>
              </ion-row>

              <ion-row *ngFor="let machines of station.machines">
                <ion-col size="6" *ngFor="let eachitem of machines">
                  <ion-card
                    class="card machine-card"
                    (click)="btn_Action(station.stationid, station.stationname, eachitem)"
                  >
                    <ion-row style="height: 100%">
                      <ion-col class="imagecenter" size="3">
                        <img
                          src="../../../assets/img/productiondashboard.png"
                        />
                        <!-- <img src="{{eachitem.imageurl}}" alt="PROFILE" /> -->
                      </ion-col>

                      <ion-col
                        class="vertical-align-content"
                        size="9"
                        [style.background-color]="getBackGroundColor(eachitem.machinestatus, eachitem.breakdownstatus)"
                        [style.color]="getStatusTextColor(eachitem.machinestatus)"
                      >
                        <div class="h7">{{eachitem.machinename}}</div>
                      </ion-col>
                    </ion-row>
                  </ion-card>
                </ion-col>
              </ion-row>

              <!-- FFB Cages - Start -->
              <div *ngIf="ffbcageenableflag == 1">
                <ng-container *ngFor="let machines of station.machines">
                  <ng-container *ngFor="let eachitem of machines">
                    <div
                      style="margin: 0px 5px 0px 5px"
                      *ngIf="eachitem.ffbcageflag==1"
                    >
                      <div class="ffbcageheader">
                        <ion-row>
                          <ion-col
                            size="8"
                            style="
                              padding: 0px;
                              margin: 0px;
                              align-self: center;
                            "
                          >
                            <div class="ffbcagetitle text-uppercase">
                              {{eachitem.machinename}}
                            </div>
                          </ion-col>

                          <ion-col
                            size="4"
                            style="padding: 0px; margin: 0px; align-self: right"
                          >
                            <button
                              type="button"
                              class="btn btn-update float-right"
                              (click)="ffbcagemodalcontroller()"
                            >
                              {{ 'GENERALBUTTON.updatebutton' | translate}}
                            </button>
                          </ion-col>
                        </ion-row>
                      </div>
                      <table
                        style="width: 100%; height: 100%"
                        class="table table-bordered"
                      >
                        <tr>
                          <th style="padding: 4px !important">
                            <span class="tablefont"
                              >{{ 'FFBCAGES.total' | translate}}</span
                            >
                          </th>

                          <th colspan="1" style="padding: 4px !important">
                            <span class="tablefont"
                              >{{ 'FFBCAGES.inuse' | translate}}</span
                            >
                          </th>

                          <th colspan="1" style="padding: 4px !important">
                            <span class="tablefont"
                              >{{ 'FFBCAGES.notinuse' | translate}}</span
                            >
                          </th>

                          <th colspan="1" style="padding: 4px !important">
                            <span class="tablefont"
                              >{{ 'FFBCAGES.underrepair' | translate}}</span
                            >
                          </th>
                        </tr>

                        <tr>
                          <td scope="row">
                            <b>{{ffbtotal}}</b>
                          </td>

                          <td scope="row">
                            <b>{{ffbinuse}}</b>
                          </td>

                          <td scope="row">
                            <b>{{ffbnotinuse}}</b>
                          </td>
                          <td scope="row">
                            <b>{{ffbunderrepair}}</b>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
              <!-- FFB Cages - End -->

              <!-- <hr *ngIf="(i+1)<stationsArr.length" /> -->
            </div>
          </div>
        </div>
        <!-- End -->

        <div class="pleasewait" *ngIf="pleasewaitflag">
          <div style="width: 100%; text-align: center">
            <img
              style="width: 80px; height: 80px"
              src="../../../assets/img/loading.gif"
            />
          </div>
          {{ 'NORECORDSFOUND.loading' | translate}}
        </div>
      </form>
    </div>
  </div>

  <div class="norecords" *ngIf="nomachinesfound">
    {{ 'NOMACHINESFOUND.nomachinesfound' | translate}}
  </div>

  <div class="noproductionstarted" *ngIf="productionflag==''">
    {{ 'NOPRODUCTIONSTARTED.noproductionstarted' | translate}}
  </div>
</ion-content>
