<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title
      mode="ios"
      *ngIf="!temperatureimageviewFlag && !motorimageviewFlag && !levelimageviewFlag && !drainageimageviewFlag && !pressmotorimageviewFlag && !pressfibreflowimageviewFlag && !presshydraulicpressureimageviewFlag"
      color="light"
    >
      <div class="toolbar-title">{{machinename}}</div></ion-title
    >
    <ion-title
      mode="ios"
      *ngIf="(temperatureimageviewFlag || motorimageviewFlag || levelimageviewFlag || drainageimageviewFlag || pressmotorimageviewFlag || pressfibreflowimageviewFlag || presshydraulicpressureimageviewFlag)"
      color="light"
      ><div class="toolbar-title" *ngIf="getlanguage=='English'">
        {{imageviewtitle}} {{ 'HOURLYPRESSSTATIONSAVE.images' | translate}}
      </div>

      <div class="toolbar-title" *ngIf="getlanguage=='Malay'">
        {{ 'HOURLYPRESSSTATIONSAVE.images' | translate}} {{imageviewtitle}}
      </div>
    </ion-title>

    <ion-buttons
      slot="start"
      *ngIf="!viewFlag && !temperatureimageviewFlag && !motorimageviewFlag && !levelimageviewFlag && !drainageimageviewFlag && !pressmotorimageviewFlag && !pressfibreflowimageviewFlag && !presshydraulicpressureimageviewFlag"
    >
      <ion-button color="whitefav" (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons
      slot="start"
      *ngIf="viewFlag && !temperatureimageviewFlag && !motorimageviewFlag && !levelimageviewFlag && !drainageimageviewFlag && !pressmotorimageviewFlag && !pressfibreflowimageviewFlag && !presshydraulicpressureimageviewFlag"
    >
      <ion-button color="whitefav" (click)="cancelconfirm()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons
      slot="end"
      *ngIf="!viewFlag && (temperatureimageviewFlag || motorimageviewFlag || levelimageviewFlag || drainageimageviewFlag || pressmotorimageviewFlag || pressfibreflowimageviewFlag || presshydraulicpressureimageviewFlag)"
    >
      <ion-button color="whitefav" (click)="imageviewcancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <!-- Input Data to get from user -->
  <form
    [formGroup]="pressstationForm"
    *ngIf="!viewFlag && !temperatureimageviewFlag && !motorimageviewFlag && !levelimageviewFlag && !drainageimageviewFlag && !pressmotorimageviewFlag && !pressfibreflowimageviewFlag && !presshydraulicpressureimageviewFlag"
  >
    <!-- <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYPRESSSTATIONSAVE.observationtime' | translate}}
          <sup> *</sup>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-datetime
          mode="ios"
          class="h7 form-control"
          formControlName="txt_observationtime"
          display-format="HH:mm"
          readonly
        ></ion-datetime>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row> 

    <div class="hl4line"></div>-->

    <div class="digestorcard">
      <div class="title">{{digestortitle}}</div>

      <!-- Temperature -->
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.temperature' | translate}} (<sup
              class="degree"
              >O</sup
            >C) <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <!-- <select
            formControlName="select_temperature"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of temperatureArr"
            >
              {{ value.temperature }}
            </option>
          </select> -->

          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'GENERALBUTTON.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            formControlName="txt_temperature"
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white">
            <b><sup class="degree">O</sup>C</b>
          </div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="temperatureimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <!-- <button
            type="submit"
            class="btn btn-add"
            (click)="addImages('Temperature')"
          >
            {{ 'HOURLYPRESSSTATIONSAVE.addimages' | translate}}
          </button> -->

          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('Temperature')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('Temperature')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->

            <span class="icontext" *ngIf="temperatureimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="temperatureimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{temperatureimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div class="hl4line"></div>

      <!-- Digestor Motor -->
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}} (A)<sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <!-- <select
            formControlName="select_digestormotoramps"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of digestorampsArr"
            >
              {{ value.digestoramps }}
            </option>
          </select> -->

          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'GENERALBUTTON.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            formControlName="txt_digestormotoramps"
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>A</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="motorimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('Motor')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('Motor')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span class="icontext" *ngIf="motorimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="motorimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{motorimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div class="hl4line"></div>

      <!-- Level -->
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.level' | translate}} <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <select
            formControlName="select_level"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of levelArr"
            >
              {{ value.percentage }}
            </option>
          </select>
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="levelimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('Level')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('Level')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span class="icontext" *ngIf="levelimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="levelimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{levelimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div class="hl4line"></div>

      <!-- Digestor Drainage -->
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.digestordrainage' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <select
            formControlName="select_digestordrainoilflow"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of digestordrainoilflowArr"
            >
              {{ value.digestordrainpipevalue }}
            </option>
          </select>
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="drainageimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('Drainage')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('Drainage')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span class="icontext" *ngIf="drainageimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="drainageimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{drainageimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <hr />

    <div class="presscard">
      <div class="title">{{presstitle}}</div>
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}} (A)<sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <!-- <select
            formControlName="select_pressmotoramps"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of pressureampsArr"
            >
              {{ value.pressureamps }}
            </option>
          </select> -->

          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'GENERALBUTTON.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            formControlName="txt_pressmotoramps"
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>A</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="pressmotorimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('PressMotor')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('PressMotor')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span class="icontext" *ngIf="pressmotorimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="pressmotorimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{pressmotorimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div class="hl4line"></div>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.presscakedrainage' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <select
            formControlName="select_fiberflow"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of fiberflowArr"
            >
              {{ value.level }}
            </option>
          </select>
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="pressfibreflowimagesettingsflag == 1">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('PressFibreFlow')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('PressFibreFlow')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span class="icontext" *ngIf="pressfibreflowimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="pressfibreflowimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{pressfibreflowimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div class="hl4line"></div>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.hydraulicpressure' | translate}} (Bar)
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <!-- <select
            formControlName="select_hydraulicpressure"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYPRESSSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of hydraulicpressureArr"
            >
              {{ value.pressure }}
            </option>
          </select> -->

          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'GENERALBUTTON.enter' | translate}}"
            (keypress)="decimalFilter($event)"
            formControlName="txt_hydraulicpressure"
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>Bar</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row
        class="form-row"
        *ngIf="presshydraulicpressureimagesettingsflag == 1"
      >
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('PressHydraulicPressure')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('PressHydraulicPressure')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
            <span
              class="icontext"
              *ngIf="presshydraulicpressureimagesArr.length==0"
            >
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span
              class="icontext"
              *ngIf="presshydraulicpressureimagesArr.length>0"
            >
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{presshydraulicpressureimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <!-- <div class="dilutiontemperaturecard">
      <div class="title">
        {{ 'HOURLYPRESSSTATIONSAVE.dilutiontemperature' | translate}}
      </div>

      <ion-row class="form-row">
        <ion-col size="5">
          <div class="h7 text-dark">
            {{ 'HOURLYPRESSSTATIONSAVE.temperature' | translate}} <sup> *</sup>
          </div>
        </ion-col>

        <ion-col size="5">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_dilutiontemperature"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.temperature' | translate}}"
        /></ion-col>

        <ion-col size="2">
          <div class="h7 text-dark">
            <b><sup>O</sup>C</b>
          </div>
        </ion-col>
      </ion-row>
    </div> -->

    <hr />

    <ion-row style="margin-top: 10px; margin-bottom: 10px">
      <ion-col size="6" style="text-align: right !important">
        <button type="submit" class="btn btn-save" (click)="confirm()">
          {{ 'GENERALBUTTON.savebutton' | translate}}
        </button>
      </ion-col>

      <ion-col size="6" style="text-align: left !important">
        <button type="submit" class="btn btn-cancel" (click)="cancel()">
          {{ 'GENERALBUTTON.cancelbutton' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </form>

  <!-- To View Data before to Save -->
  <div
    class="home-box"
    *ngIf="viewFlag && !temperatureimageviewFlag && !motorimageviewFlag && !levelimageviewFlag && !drainageimageviewFlag && !pressmotorimageviewFlag && !pressfibreflowimageviewFlag && !presshydraulicpressureimageviewFlag"
  >
    <div class="h6" style="margin-left: 10px; margin-top: 10px; color: #3cd2a5">
      <b>{{ 'HOURLYPRESSSTATIONSAVE.alert' | translate}}</b>
    </div>

    <!-- <ion-row class="form-row">
      <ion-col size="5">
        <div class="h7 text-light">
          {{ 'HOURLYPRESSSTATIONSAVE.observationtime' | translate}}
          <sup> *</sup>
        </div>
      </ion-col>
      <ion-col size="5">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYPRESSSTATIONSAVE.observationtime' | translate}}"
          value="{{view_observationtime}}"
          readonly
        />
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <div class="hl4line"></div> -->

    <div class="digestorcard">
      <div class="title">{{digestortitle}}</div>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.temperature' | translate}} (<sup
              class="degree"
              >O</sup
            >C)<sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.temperature' | translate}}"
            value="{{view_temperature}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white">
            <b><sup class="degree">O</sup>C</b>
          </div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}} (A)<sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}}"
            value="{{view_digestormotoramps}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>A</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.level' | translate}} <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.level' | translate}}"
            value="{{view_level}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.digestordrainage' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.digestordrainage' | translate}}"
            value="{{view_digestordrainoilflow}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>
    </div>

    <hr />

    <div class="presscard">
      <div class="title">{{presstitle}}</div>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}} (A)<sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.motor' | translate}}"
            value="{{view_pressmotoramps}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>A</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.presscakedrainage' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.presscakedrainage' | translate}}"
            value="{{view_fiberflow}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-white">
            {{ 'HOURLYPRESSSTATIONSAVE.hydraulicpressure' | translate}} (Bar)
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="text"
            class="h7 form-control"
            placeholder="{{ 'HOURLYPRESSSTATIONSAVE.hydraulicpressure' | translate}}"
            value="{{view_hydraulicpressure}}"
            readonly
          />
        </ion-col>
        <!-- <ion-col size="2">
          <div class="h7 text-white"><b>Bar</b></div>
        </ion-col> -->
      </ion-row>
    </div>

    <hr />

    <ion-row style="margin-top: 10px; margin-bottom: 10px">
      <ion-col size="6" style="text-align: right !important">
        <button
          type="submit"
          [disabled]="isDisabled"
          class="btn btn-confirm"
          (click)="showalert()"
        >
          {{ 'HOURLYPRESSSTATIONSAVE.confirmbutton' | translate}}
        </button>
      </ion-col>

      <ion-col size="6" style="text-align: left !important">
        <button type="submit" class="btn btn-cancel" (click)="cancelconfirm()">
          {{ 'GENERALBUTTON.cancelbutton' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </div>

  <!-- To View Images in Slider - Start-->
  <!-- Temperature Images -->
  <div class="content" *ngIf="!viewFlag && temperatureimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of temperatureimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Motor Images -->
  <div class="content" *ngIf="!viewFlag && motorimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of motorimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Level Images -->
  <div class="content" *ngIf="!viewFlag && levelimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of levelimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Drainage Images -->
  <div class="content" *ngIf="!viewFlag && drainageimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of drainageimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Press Motor Images -->
  <div class="content" *ngIf="!viewFlag && pressmotorimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of pressmotorimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Press Fibre Flow Images -->
  <div class="content" *ngIf="!viewFlag && pressfibreflowimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of pressfibreflowimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Press Hydraulic Pressure Images -->
  <div class="content" *ngIf="!viewFlag && presshydraulicpressureimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of presshydraulicpressureimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- To View Images in Slider - End-->
</ion-content>
