.content {
  background-color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.home-box {
  padding: 0px;
}

ion-card {
  box-shadow: none;
  border-radius: 10px;
  background: none;
  margin: 20px 15px 20px 15px;
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);
  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.imgmarigin {
  margin-left: 15px;
}

.imagecard {
  margin: 10px;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ffffff;
  border-radius: 5px; /* 5px rounded corners */
}

.imagePreview {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background: url("../../../assets/img/noimage.png");
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePresent {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.digestorcard {
  background-color: transparent;

  /*margin: 10px;
  padding: 5px 0px 5px 0px;
  border: 1px solid #ffffff71;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;*/
}

.presscard {
  background-color: transparent;

  /*margin: 10px;
  padding: 5px 0px 5px 0px;
  border: 1px solid #ffffff71;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;*/
}

.dilutiontemperaturecard {
  margin: 10px;
  padding: 5px 0px 5px 0px;
  //background-color: #b3e0ff;
  border: 1px solid #ffffff71;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

form {
  padding: 0px;
}

.item-inner {
  border-style: unset !important;
}

.btn-success {
  width: 150px;
  font-size: 12px;
}

.btn-info {
  width: 150px;
  font-size: 12px;
}

.btn-danger {
  width: 150px;
  font-size: 12px;
}

.btn-upload {
  margin-top: -5px;
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.ion-text-end {
  float: right;
}

.bg-yellow {
  background-color: #474747;
  padding: 10px;
}

.form-row {
  margin: 5px;
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
}

ion-select::part(placeholder) {
  opacity: 1;
}

.imgmarigin {
  margin-left: 10px;
}

.userfont {
  font-size: 12px;
}

.nopadding {
  padding-right: 6px !important;
}

.title {
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-weight: bold;
  color: #ff9f0c;
}

.btn-warning {
  width: 150px;
  font-size: 12px;
  //background-color: #ff9f0c;
  background-color: none;
  border-color: #ff9f0c;
}

.btn-imageview {
  //width: 125px;
  font-size: 12px;
  //background-color: #30beff;
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.btn-imageupload {
  //width: 125px;
  font-size: 12px;
  //background-color: #ff9f0c;
  background-color: none;
  border-color: #30beff;
  color: #ffffff;
  margin-right: 10px;
}

.btn-general {
  width: 150px;
  font-size: 14px;
  //background-color: #30beff;
  background-color: none;
  border-color: #30beff;
  color: #ffffff;
}

.btn-cancel {
  width: 150px;
  font-size: 14px;
  //background-color: #ff6060;
  background-color: none;
  border-color: #ff6060;
  color: #ffffff;
}

.btn-confirm {
  width: 150px;
  font-size: 14px;
  //background-color: #ff9f0c;
  background-color: none;
  border-color: #3cd2a5;
  color: #ffffff;
}

.btn-view {
  width: 150px;
  font-size: 14px;
  //background-color: #a8b6bc;
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.btn-add {
  font-size: 12px;
  background-color: none;
  border-color: #3cd2a5;
  color: #ffffff;
}

.btn-save {
  width: 150px;
  font-size: 14px;
  background-color: none;
  border-color: #3cd2a5;
  color: #ffffff;
}

.icon {
  font-size: 14px;
  vertical-align: middle;
}

.icontext {
  vertical-align: middle;
}

sup {
  color: red;
}

.degree {
  color: white;
}

.hl4line {
  border-top: 1px dashed #c2c2c2;
  height: 0px !important;
  margin: 20px;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ffffff;
}
