<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title color="light" [innerHTML]="mill_name"></ion-title>
    <ion-buttons slot="primary">
      <!-- <ion-button class="bg-light-color" (click)="callmodalcontroller()">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button> -->

      <!-- <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'android'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'twodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'ios'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'iostwodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myCard">
    <img class="backgroundimage" src="../../../assets/img/header_myPalm.png" />
    <div class="myOverlay">
      <div class="usermessagecard">
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 16px; font-weight: bold; margin: 0px">
              {{ 'MAINTENANCEDASHBOARD.welcome' | translate}} {{userlist.name}}
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="home-box" #myElementRef>
    <div *ngIf="userdesignation==7">
      <div class="titleheader">
        <div class="col">
          <div class="title text-uppercase">
            {{ 'PRESSSTATIONPOPUP.lastupdatedrecord' | translate}}
          </div>
        </div>
      </div>

      <div class="checkcard">
        <div *ngFor="let value of pressstationalertArr; let i=index">
          <div class="home">
            <div
              style="
                font-size: 15px;
                text-align: center;
                color: #000000;
                text-transform: uppercase;
              "
            >
              <b>{{value.title}}</b>
            </div>

            <table
              style="width: 100%; height: 100%"
              class="table table-bordered"
            >
              <tr>
                <td style="padding: 4px !important; text-align: left">
                  <span class="mdfont"
                    >{{ 'PRESSSTATIONPOPUP.lastupdatedon' | translate}}</span
                  >
                </td>

                <td>{{value.lastupdatedon}}</td>
              </tr>
              <tr>
                <td style="padding: 4px !important; text-align: left">
                  <span class="mdfont"
                    >{{ 'PRESSSTATIONPOPUP.doneby' | translate}}</span
                  >
                </td>

                <td>{{value.doneby}}</td>
              </tr>
            </table>

            <table
              style="width: 100%; height: 100%"
              class="table table-bordered"
            >
              <tr>
                <th
                  colspan="2"
                  style="
                    padding: 5px 0px 5px 0px !important;
                    background-color: #ff9f0c;
                    color: #000000;
                  "
                >
                  <span class="para"
                    >{{ 'PRESSSTATIONPOPUP.digestor' | translate}}</span
                  >
                </th>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.temperature' | translate}}
                  (<sup>O</sup>C)
                </td>
                <td style="width: 50%">{{value.digestertemperature}}</td>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.motor' | translate}}
                </td>
                <td style="width: 50%">{{value.digestermotor}}</td>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.level' | translate}} (%)
                </td>
                <td style="width: 50%">{{value.diegesterlevel}}</td>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.digestordrainage' | translate}}
                </td>
                <td style="width: 50%">{{value.digesterdrainage}}</td>
              </tr>
            </table>

            <table
              style="width: 100%; height: 100%"
              class="table table-bordered"
            >
              <tr class="table_head">
                <th
                  colspan="2"
                  style="
                    padding: 5px 0px 5px 0px !important;
                    background-color: #000000;
                    border: 1px solid #ffffff;
                    color: #ff9f0c;
                  "
                >
                  <span class="para"
                    >{{ 'PRESSSTATIONPOPUP.press' | translate}}</span
                  >
                </th>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.motor' | translate}}
                </td>
                <td style="width: 50%">{{value.pressmotor}}</td>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.presscakedrainage' | translate}}
                </td>
                <td style="width: 50%">{{value.presscakedrainage}}</td>
              </tr>

              <tr>
                <td style="width: 50%; font-weight: bold; text-align: left">
                  {{ 'PRESSSTATIONPOPUP.hydraulicpressure' | translate}}
                </td>
                <td style="width: 50%">{{value.presshydraulicpressure}}</td>
              </tr>
            </table>

            <hr *ngIf="(i+1)<pressstationalertArr.length" />
          </div>
        </div>

        <div class="nolastupdatedrecords" *ngIf="enableflag">
          {{ 'NORECORDSFOUND.norecordsfound' | translate}}
        </div>

        <div style="text-align: center">
          <button
            type="submit"
            class="h6 btn btn-ok"
            (click)="btn_pressstation()"
          >
            {{ 'GENERALBUTTON.addnewdatabutton' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="userdesignation==8">
      <div *ngIf="!uinorecordFlag">
        <div class="titleheader">
          <div class="col">
            <div class="title text-uppercase">
              {{ 'STERILIZATIONSTATIONPOPUP.lastupdatedrecord' | translate}}
            </div>
          </div>
        </div>

        <div class="checkcard">
          <div *ngFor="let general of sterilizerstationalertArr; let i=index">
            <div class="home">
              <table
                style="width: 100%; height: 100%"
                class="table table-bordered"
              >
                <tr>
                  <td style="padding: 4px !important; text-align: left">
                    <span class="mdfont"
                      >{{ 'STERILIZATIONSTATIONPOPUP.lastupdatedon' |
                      translate}}</span
                    >
                  </td>

                  <td>{{general.lastupdatedon}}</td>
                </tr>
                <tr>
                  <td style="padding: 4px !important; text-align: left">
                    <span class="mdfont"
                      >{{ 'STERILIZATIONSTATIONPOPUP.doneby' | translate}}</span
                    >
                  </td>

                  <td>{{general.rasiedby}}</td>
                </tr>
              </table>

              <table
                style="width: 100%; height: 100%"
                class="table table-bordered"
              >
                <tr>
                  <th
                    colspan="2"
                    style="
                      padding: 5px 0px 5px 0px !important;
                      background-color: #ff9f0c;
                      color: #000000;
                    "
                  >
                    <span class="para">{{general.sterilizer}}</span>
                  </th>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.cycle' | translate}}
                  </td>
                  <td style="width: 50%">{{general.cycleno}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.doorshutdatetime' |
                    translate}}
                  </td>
                  <td style="width: 50%">{{general.door_shut_time}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.dooropendatetime' |
                    translate}}
                  </td>
                  <td style="width: 50%">{{general.door_open_time}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.bpv' | translate}} [PSI]
                  </td>
                  <td style="width: 50%">{{general.backpressurereceiver}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.p1peak' | translate}} [PSI]
                  </td>
                  <td style="width: 50%">{{general.p1}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.p2peak' | translate}} [PSI]
                  </td>
                  <td style="width: 50%">{{general.p2}}</td>
                </tr>

                <tr>
                  <td style="width: 50%; font-weight: bold; text-align: left">
                    {{ 'STERILIZATIONSTATIONPOPUP.p3peak' | translate}} [PSI]
                  </td>
                  <td style="width: 50%">{{general.p3}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="nolastupdatedrecords" *ngIf="enableflag">
            {{ 'NORECORDSFOUND.norecordsfound' | translate}}
          </div>

          <div style="text-align: center">
            <button
              type="submit"
              class="h6 btn btn-ok"
              (click)="btn_sterilizerstation()"
            >
              {{ 'GENERALBUTTON.addnewdatabutton' | translate}}
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="uinorecordFlag">
        <ion-row>
          <ion-col size="6"></ion-col>
          <ion-col size="6" style="text-align: right !important">
            <button
              type="submit"
              class="h6 btn btn-ok"
              (click)="btn_sterilizerstation()"
            >
              <span class="icontext" style="color: #ffffff">
                {{ 'GENERALBUTTON.addnewdatabutton' | translate}}
              </span>
            </button>
          </ion-col>
        </ion-row>

        <div class="updatelatertitleheader text-uppercase">
          {{ 'STERILIZATIONSTATIONPOPUP.dooropentimeupdaterecord' | translate}}
        </div>

        <ion-card class="bg-card" *ngFor="let value of sterilizerlistArr">
          <ion-card-content class="cardcontent">
            <ion-row>
              <ion-col>
                <p class="title-content">
                  {{value.sterilizer}} &nbsp;&nbsp;&nbsp;&nbsp;
                  {{value.lastupdatedon}}
                </p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.cycleno!=''">
              <ion-col size="6">
                {{ 'STERILIZATIONSTATIONPOPUP.cycle' | translate}}</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.cycleno}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.door_shut_time!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.doorshutdatetime' |
                translate}}</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.door_shut_time}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.door_open_time!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.dooropendatetime' |
                translate}}</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.door_open_time}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.backpressurereceiver!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.bpv' | translate}} [PSI]</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.backpressurereceiver}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.p1!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.p1peak' | translate}}
                [PSI]</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.p1}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.p2!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.p2peak' | translate}}
                [PSI]</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.p2}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.p3!=''">
              <ion-col size="6"
                >{{ 'STERILIZATIONSTATIONPOPUP.p3peak' | translate}}
                [PSI]</ion-col
              >

              <ion-col size="6">
                <p class="data">: {{value.p3}}</p>
              </ion-col>
            </ion-row>

            <ion-row style="float: right; margin-bottom: 8px">
              <ion-col>
                <button
                  type="button"
                  class="h7 btn btn-update btn-sm"
                  (click)="callmodalcontroller(value)"
                >
                  {{ 'GENERALBUTTON.updatebutton' | translate}}
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
