.home-box {
  padding: 0px 10px 0px 10px;
}

.home {
  padding: 0px;
}

.img-home {
  margin: 0px 28px 0px 28px;
  padding: 15px 30px 0px 30px;
}

.usermessagecard {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 10px rounded corners */
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 15px 0px 15px;
  padding: 5px 5px 5px 5px;
}

.txt-home {
  text-align: center;
  margin-top: 10px;
}

.form-row {
  margin: 5px;
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  color: #ffffff;
}

.selectdropdown {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #000000;
  border-radius: 5px;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../../assets/img/search.png);
  background-position: left;
  background-position-x: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.iosselectdropdown {
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #000000;
  border-radius: 5px;
  padding-left: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../../assets/img/search.png);
  background-position: left;
  background-position-x: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.stationcard {
  background-color: #ffffff;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 5px 10px 5px;
  background-image: url(../../../assets/img/machinebg.png);
  background-position: center center fixed;
  background-repeat: repeat;
  background-size: cover;
}

.card {
  border-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.card-height {
  height: 80%;
  //width: 100%;
  margin: 5px;
}

.imagecenter {
  text-align: center;
  background-color: #d9d9d9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
}
.bg-light-color {
  --color: var(--ion-color-white);
}

div.item {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

img {
  //width: 40px;
  //height: 40px;
  width: 25px;
  height: 25px;
  margin: 10px 0px 10px 0px;
}

.nobreakdownimg {
  width: 100px;
  height: 100px;
}

.item-img {
  margin: 5px 0px 5px 0px;
}

.productionimg {
  width: 100%;
  height: 50%;
}

.machineimg {
  width: 40px;
  height: 40px;
}

.titleheader {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ffffff;
  text-align: center;
  background-color: #000000;
  //margin: 0px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}

.title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ff9f0c;
  //color: #ffffff;
}

.productionstatustitleheader {
  border-radius: 20px;
  //border: 2px solid #000000;
  text-align: center;
  margin: 5px 25px 5px 25px;
  padding: 5px 0px 5px 0px;
  width: 200px;
}

.productionstatustitle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.updatelatertitleheader {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ffffff;
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
  color: #ff9f0c;
}

.bg-card {
  --background: #ffffff;
  background-image: url(../../../assets/img/palmbg.png);
  background-size: cover;
  border: 1px solid #ffffff;
  margin: 6px;

  ion-row {
    margin-top: -6px;
  }

  ion-col {
    font-size: 11px;
  }

  ion-card-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-content {
    font-size: 15px;
    color: #1d2730;
    font-weight: bold;
  }

  .card-content {
    padding: 0px;
  }

  .data {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .statusdata {
    font-size: 12px;
    font-weight: bold;
  }

  .btn-assign {
    background-color: none;
    border-color: #cb4335;
    box-shadow: none;
  }

  .btn-assign:hover {
    color: #cb4335;
  }

  .btn-view {
    //background-color: #a8b6bc;
    background-color: none;
    border-color: #ff9f0c;
  }

  .btn-assign:hover {
    color: #a8b6bc;
  }

  .btn-update {
    background-color: none;
    border-color: #ff9f0c;
    box-shadow: none;
  }

  .btn-update:hover {
    color: #ff9f0c;
  }
}

.btn-refresh {
  background-color: none;
  border-color: #ff9f0c;
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}

.lbl-desc {
  padding-left: 5px;
  padding-top: 5px;
}

.bg-yellow {
  //background-color: #474747;
  background-color: #000000;
  padding: 10px;
}

.bg-light-color {
  --color: var(--ion-color-light-contrast);
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}

.lbl-desc {
  padding-left: 5px;
  padding-bottom: 0px;
}

.lbl-direction-right {
  width: 100%;
  text-align: right;
  padding: 5px;
}

.row-width-100 {
  width: 100%;
  margin: 10px;
  text-align: right;
}

p {
  font-size: 11px;
  padding: 0%;
  margin: 0px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.badgecolor {
  background: transparent;
  margin: 5px 10px 0px 0px;
  color: #1d2730;
}

.twodigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.8rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.iostwodigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.6rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.onedigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.2rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.badgeblink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

table {
  font-size: 11px;
  line-height: 1.42857143;
  //color: #333;
  padding: 5px;
  border-collapse: collapse;
}

table th:first-child {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ffffff;
  text-align: center;
  background-color: #000000;
}

.table td,
.table th {
  color: #000000;
  padding: 0.3rem !important;
}

td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}

.table th {
  padding: 0rem !important;
}

.table_head {
  border-radius: 5px 5px 0px 0px;
}

.mdfont {
  font-size: 11px;
  font-weight: bold;
  color: #000000;
}

.para {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  vertical-align: middle;
}

ion-icon {
  color: white;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

.nolastupdatedrecords {
  text-align: center;
  margin-top: 50%;
  margin-bottom: 50%;
  font-size: 14px;
  color: #000000;
}

.pleasewait {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px dashed #000000;
}

.backgroundimage {
  height: 100%;
  width: 100%;
  margin-top: -10px;
  //opacity: 0.8;
}

.myCard {
  position: relative;
}

.myOverlay {
  position: absolute;
  top: 10px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}

// ion-content {
//   //--ion-background-color: #ffffff;
//   --background: none;
//   background: #ffd966 !important;
// }

.form-control {
  font-weight: 300;
  line-height: 1.5;
  //color: rgba(255, 255, 255, 0.75);
  background-clip: padding-box;
  border: 0px;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkcard {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px 0px 5px 5px; /* 10px rounded corners */
  background-color: #f7f7f7;
  //margin: 0px 5px 0px 5px;
  padding: 5px 5px 5px 5px;
  background-image: url(../../../assets/img/palmbg.png);
  background-size: cover;
}

.image-status {
  width: 48px;
  height: 50px;
  margin: 0px;
}

.btn-ok {
  width: 150px;
  border-color: #30beff;
  color: #000000;
}
