<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        style="text-transform: none"
        text="{{ 'MAINTENANCENOTIFICATIONVIEW.back' | translate}}"
        icon="chevron-back-outline"
        color="whitefav"
      ></ion-back-button>
    </ion-buttons>

    <!-- <ion-title
      color="light"
      mode="ios"
      *ngIf="fromscreen =='' || fromscreen =='CM' || fromscreen =='CMReport'"
      >{{ 'MAINTENANCENOTIFICATIONVIEW.correctivemaintenanceview' |
      translate}}</ion-title
    > -->

    <!-- <ion-title color="light" mode="ios" *ngIf="fromscreen =='CMACK'"
      >{{ 'MAINTENANCENOTIFICATIONVIEW.correctivemaintenanceackview' |
      translate}}</ion-title
    > -->

    <!-- <ion-title
      color="light"
      mode="ios"
      *ngIf="fromscreen =='RoPM' || fromscreen =='RoPMReport'"
      >{{ 'MAINTENANCENOTIFICATIONVIEW.routinepreventivemaintenanceview' |
      translate}}</ion-title
    > -->

    <!-- <ion-title
      color="light"
      mode="ios"
      *ngIf="fromscreen =='RePM' || fromscreen =='RePMReport'"
      >{{ 'MAINTENANCENOTIFICATIONVIEW.replacementpreventivemaintenanceview' |
      translate}}</ion-title
    > -->

    <!-- <ion-title color="light" mode="ios" *ngIf="fromscreen =='RePMACK'"
      >{{ 'MAINTENANCENOTIFICATIONVIEW.replacementpreventivemaintenanceackview'
      | translate}}</ion-title
    > -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="notificationview" style="margin: 10px">
    <ion-row class="form-row">
      <ion-col size="2" style="text-align: center">
        <img class="logoimg" src="../../../assets/img/logo.png" />
      </ion-col>
      <ion-col size="8">
        <div class="usertext" style="text-align: center; font-size: 15px">
          <b
            >{{ 'MAINTENANCENOTIFICATIONVIEW.maintenance' | translate}}<br />{{
            'MAINTENANCENOTIFICATIONVIEW.notificationform' | translate}}</b
          >
        </div>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <img
          class="statusimg"
          *ngIf="notificationstatusid == '1'"
          src="../../../assets/img/notificationcreated.png"
        />

        <img
          class="statusimg"
          *ngIf="notificationstatusid != '1' && notificationstatusid != '7'"
          src="../../../assets/img/notificationinprogress.png"
        />

        <img
          class="statusimg"
          *ngIf="notificationstatusid == '7'"
          src="../../../assets/img/notificationclosed.png"
        />
      </ion-col>
    </ion-row>

    <table style="width: 100%; height: 100%" class="table table-bordered">
      <tr *ngIf="notificationstatus!=''">
        <td width="50%">
          {{ 'MAINTENANCENOTIFICATIONVIEW.status' | translate}}
        </td>
        <td
          width="50%"
          style="background-color: #e74c3c; color: #ffffff"
          *ngIf="notificationstatusid=='1'"
        >
          <b>{{notificationstatus}}</b>
        </td>

        <td
          width="50%"
          style="background-color: #ffff00; color: #000000"
          *ngIf="notificationstatusid!='1' && notificationstatusid!='7'"
        >
          <b>{{notificationstatus}}</b>
        </td>

        <td
          width="50%"
          style="background-color: #008000; color: #ffffff"
          *ngIf="notificationstatusid=='7'"
        >
          <b>{{notificationstatus}}</b>
        </td>
      </tr>

      <tr *ngIf="notificationno!=''">
        <td width="50%">{{ 'MAINTENANCENOTIFICATIONVIEW.id' | translate}}</td>
        <td width="50%" class="data">{{notificationno}}</td>
      </tr>

      <tr *ngIf="notificationtype!=''">
        <td width="50%">
          {{ 'MAINTENANCENOTIFICATIONVIEW.notificationtype' | translate}}
        </td>
        <td width="50%" class="data">{{notificationtype}}</td>
      </tr>

      <tr *ngIf="breakdowncoding!=''">
        <td width="50%">
          {{ 'MAINTENANCENOTIFICATIONVIEW.condition' | translate}}
        </td>
        <td width="50%" class="data">{{breakdowncoding}}</td>
      </tr>

      <tr *ngIf="maintenancetype!=''">
        <td width="50%">
          {{ 'MAINTENANCENOTIFICATIONVIEW.maintenancetype' | translate}}
        </td>
        <td width="50%" class="data">{{maintenancetype}}</td>
      </tr>

      <tr *ngIf="reportedby!=''">
        <td width="50%">
          {{ 'MAINTENANCENOTIFICATIONVIEW.reportedby' | translate}}
        </td>
        <td width="50%" class="data">{{reportedby}}</td>
      </tr>

      <tr *ngIf="breakdownremarks!=''">
        <td>{{ 'MAINTENANCENOTIFICATIONVIEW.initialcomplaint' | translate}}</td>
        <td width="50%" class="data">{{breakdownremarks}}</td>
      </tr>
    </table>

    <div *ngIf="!detailsnorecordFlag">
      <div class="titleheader">
        <div class="col">
          <div class="title text-uppercase">
            <b
              >{{ 'MAINTENANCENOTIFICATIONVIEW.maintenancenotificationdetails' |
              translate}}</b
            >
          </div>
        </div>
      </div>

      <div class="notificationcard">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.stationname' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{station}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.machineryname' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{equipment}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="partdefect!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark" *ngIf="fromscreen == 'CM'">
              {{ 'MAINTENANCENOTIFICATIONVIEW.partdefect' | translate}}
            </div>
            <div class="h7 text-dark" *ngIf="fromscreen != 'CM'">
              {{ 'MAINTENANCENOTIFICATIONVIEW.partname' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{partdefect}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="runninghours!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.currentrunninghours' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{runninghours}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="breakdowncauses!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.breakdowncauses' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{breakdowncauses}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="damage!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.damagetype' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{damage}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="remarks!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.remarks' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{remarks}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="createddatetime!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.dateandtime' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{createddatetime}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- Repair Activity -->
    <div *ngIf="!repairactivitynorecordFlag">
      <div class="titleheader">
        <div class="col">
          <div class="title text-uppercase">
            <b>{{ 'MAINTENANCENOTIFICATIONVIEW.activity' | translate}}</b>
          </div>
        </div>
      </div>

      <div class="notificationcard">
        <ion-row class="form-row" *ngIf="activity!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.smallactivity' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{activity}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="partreceiveddatetime!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.partreceived' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{partreceiveddatetime}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="activitycompletiondatetime!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.activitycompletion' | translate}}
              <br />
              {{ 'MAINTENANCENOTIFICATIONVIEW.activitycompletiondatetime' |
              translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{activitycompletiondatetime}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="carriedoutby!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.carriedoutby' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{carriedoutby}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="verifiedby!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.verifiedby' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{verifiedby}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- Job Authorization -->
    <div *ngIf="!jobauthorizationnorecordFlag">
      <div class="titleheader">
        <div class="col">
          <div class="title text-uppercase">
            <b
              >{{ 'MAINTENANCENOTIFICATIONVIEW.jobacknowledgement' |
              translate}}</b
            >
          </div>
        </div>
      </div>

      <div class="notificationcard">
        <ion-row class="form-row" *ngIf="authorizedby!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.acknowlegedby' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{authorizedby}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="authorizeddatetime!=''">
          <ion-col size="4.5">
            <div class="h7 text-dark">
              {{ 'MAINTENANCENOTIFICATIONVIEW.acknowledged' | translate}}<br />{{
              'MAINTENANCENOTIFICATIONVIEW.acknowledgeddatetime' | translate}}
            </div>
          </ion-col>
          <ion-col size="0.5" style="text-align: center">
            <div class="h7 text-dark">:</div>
          </ion-col>
          <ion-col size="7">
            <div class="h7 blockdata">{{authorizeddatetime}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- <div style="overflow-x: auto">
      <div *ngIf="tasklistArr.length > 0">
        <div class="tasktitleheader">
          <div class="col">
            <div class="title text-uppercase">
              <b>{{ 'MAINTENANCENOTIFICATIONVIEW.tasklist' | translate}}</b>
            </div>
          </div>
        </div>

        <div *ngFor="let value of tasklistArr; let i=index">
          <div
            class="userfont"
            style="margin-top: 10px; font-weight: bold; color: #ffffff"
          >
            <b>{{value.taskname}}</b>
          </div>

          <table style="width: 100%; height: 100%" class="table table-bordered">
            <tr class="table_head">
              <th colspan="1" scope="colgroup" style="padding: 4px !important">
                <span class="mdfont text-dark"
                  >{{ 'MAINTENANCENOTIFICATIONVIEW.task' | translate}}</span
                >
              </th>

              <th colspan="1" scope="colgroup" style="padding: 4px !important">
                <span class="mdfont text-dark"
                  >{{ 'MAINTENANCENOTIFICATIONVIEW.yes' | translate}}</span
                >
              </th>

              <th colspan="1" scope="colgroup" style="padding: 4px !important">
                <span class="mdfont text-dark"
                  >{{ 'MAINTENANCENOTIFICATIONVIEW.no' | translate}}</span
                >
              </th>

              <th colspan="1" scope="colgroup" style="padding: 4px !important">
                <span class="mdfont text-dark"
                  >{{ 'MAINTENANCENOTIFICATIONVIEW.note' | translate}}</span
                >
              </th>
            </tr>

            <tr *ngFor="let record of value.subtaskdata; let i=index">
              <td style="text-align: left" width="25%">{{record.subtask}}</td>
              <td style="text-align: center" width="25%">
                <img
                  style="width: 10px; height: 10px"
                  *ngIf="record.yes=='1'"
                  src="../../../assets/img/entry.png"
                />
                <img
                  style="width: 10px; height: 10px"
                  *ngIf="record.yes=='0'"
                  src="../../../assets/img/noentry.png"
                />
              </td>
              <td style="text-align: center" width="25%">
                <img
                  style="width: 10px; height: 10px"
                  *ngIf="record.no=='1'"
                  src="../../../assets/img/entry.png"
                />
                <img
                  style="width: 10px; height: 10px"
                  *ngIf="record.no=='0'"
                  src="../../../assets/img/noentry.png"
                />
              </td>
              <td style="text-align: center" width="25%">{{record.remarks}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->

    <div
      style="text-align: center"
      *ngIf="statusid=='6' && departmentid=='7' && designationid == '2' && fromscreen!='CMReport' && fromscreen!='RoPMReport' && fromscreen!='RePMReport'"
    >
      <button
        type="submit"
        [disabled]="isDisabled"
        class="h6 btn btn-success"
        (click)="btn_ConditionCheck()"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        {{ 'MAINTENANCENOTIFICATIONVIEW.acknowledge' | translate}}
      </button>
    </div>
  </div>
</ion-content>
