<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" color="light"
      >{{ 'SEARCHACTIVITY.searchactivity' | translate}}</ion-title
    >
  </ion-toolbar>

  <ion-toolbar class="bg-search-color">
    <ion-searchbar
      #search
      debounce="500"
      (ionChange)="_ionchange($event)"
      placeholder="{{ 'SEARCHACTIVITY.search' | translate}}"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar
    #search
    debounce="500"
    (ionChange)="_ionchange($event)"
  ></ion-searchbar> -->

  <ion-list>
    <ion-item
      *ngFor="let item of activitylistArray | filter:searchtext"
      (click)="getvalue(item)"
    >
      <ion-label class="h7 text-dark">{{item.activity_name}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="norecords" *ngIf="norecordsflag">
    {{ 'SEARCHACTIVITY.nosearchrecords' | translate}}
  </div>
</ion-content>
