<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title color="light" mode="ios" [innerHTML]="mill_name"></ion-title>

    <!-- <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent">
          {{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <div class="myCard">
    <img class="backgroundimage" src="../../../assets/img/header_myPalm.png" />
    <div class="myOverlay">
      <div class="usermessagecard">
        <ion-row>
          <ion-col size="12">
            <p
              style="
                font-size: 16px;
                font-weight: bold;
                margin: 0px;
                color: #ffffff;
              "
            >
              {{ 'GRADINGHOME.welcome' | translate}} {{userlist.name}}
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div #myElementRef>
    <form [formGroup]="gradingForm">
      <!-- <div class="reportstitleheader">
        {{ 'GRADINGHOME.newgrading' | translate}}
      </div> -->

      <ion-row style="margin-top: 5px">
        <ion-col size="6"></ion-col>
        <ion-col size="6" style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-grading"
            (click)="btn_receivenewload()"
          >
            <span class="icontext" style="color: #ffffff">
              {{ 'GRADINGHOME.newgrading' | translate}}
            </span>
          </button>
        </ion-col>
      </ion-row>

      <div *ngIf="receivenewloadFlag">
        <ion-row class="form-row" *ngIf="selectvehicleFlag">
          <ion-col size="6">
            <div class="title">{{ 'GRADINGHOME.vehicle' | translate}}</div>
          </ion-col>

          <ion-col size="6">
            <input
              type="text"
              class="h7 form-control readonly"
              formControlName="txt_searchvehicle"
              placeholder="{{ 'GRADINGHOME.searchvehicle' | translate}}"
              (click)="callmodalcontroller('Vehicle')"
              readonly
            />
          </ion-col>
        </ion-row>

        <ion-row class="form-row" *ngIf="entervehicleFlag">
          <ion-col size="6">
            <div class="title">
              {{ 'GRADINGHOME.vehiclenumber' | translate}}
            </div>
          </ion-col>

          <ion-col size="6">
            <input
              type="text"
              class="h7 form-control"
              formControlName="txt_vehiclenumber"
              placeholder="{{ 'GRADINGHOME.entervehiclenumber' | translate}}"
              (keypress)="alphanumberFilter($event)"
            />
          </ion-col>
        </ion-row>

        <div *ngIf="entervehicleFlag">
          <div
            style="
              font-size: 14px;
              color: #df4759;
              text-align: right;
              margin-right: 10px;
            "
            (click)="backtoselect()"
          >
            <ion-icon
              class="icon"
              color="danger"
              name="arrow-undo-outline"
            ></ion-icon>
            <span class="icontext"
              ><b>{{ 'GENERALBUTTON.select' | translate}}</b></span
            >
          </div>
        </div>

        <ion-row class="form-row">
          <ion-col size="6">
            <div class="title">
              {{ 'GRADINGHOME.hardbunches' | translate}} <b>(Unit)</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_hardbunches"
              placeholder="{{ 'GRADINGHOME.enter' | translate}}"
              (keypress)="decimalFilter($event)"
              (focusout)="checkData()"
            />
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col style="text-align: right !important">
            <button
              type="submit"
              class="btn btn-imageupload"
              (click)="imageUpload('HB')"
            >
              <ion-icon class="icon" name="camera-outline"></ion-icon>
              <span class="icontext">
                {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
              >
            </button>

            <button
              type="submit"
              class="btn btn-imageview"
              (click)="btn_view('HB')"
            >
              <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->
              <span class="icontext" *ngIf="hardbunchesimagesArr.length==0">
                {{ 'GENERALBUTTON.viewbutton' | translate}}
              </span>
              <span class="icontext" *ngIf="hardbunchesimagesArr.length>0">
                {{ 'GENERALBUTTON.viewbutton' | translate}}
                ({{hardbunchesimagesArr.length}})
              </span>
            </button>
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col size="6">
            <div class="title">
              {{ 'GRADINGHOME.underripebunches' | translate}} <b>(%)</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_underripebunches"
              placeholder="{{ 'GRADINGHOME.enter' | translate}}"
              (keypress)="decimalFilter($event)"
              (focusout)="checkData()"
            />
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col size="6">
            <div class="title">
              {{ 'GRADINGHOME.ripeness' | translate}} <b>(%)</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_ripeness"
              placeholder="{{ 'GRADINGHOME.enter' | translate}}"
              (keypress)="decimalFilter($event)"
              (focusout)="checkData()"
            />
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col size="6">
            <div class="title">Overdue <b>(%)</b></div>
          </ion-col>

          <ion-col size="6">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_overdue"
              placeholder="{{ 'GRADINGHOME.enter' | translate}}"
              (keypress)="decimalFilter($event)"
              (focusout)="checkData()"
            />
          </ion-col>
        </ion-row>

        <ion-row class="form-row">
          <ion-col size="6">
            <div class="title">
              {{ 'GRADINGHOME.loosefruits' | translate}} <b>(%)</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_loosefruits"
              placeholder="{{ 'GRADINGHOME.enter' | translate}}"
              (keypress)="decimalFilter($event)"
              (focusout)="checkData()"
            />
          </ion-col>
        </ion-row>

        <!-- <div class="imagecard">
          <div class="imagetitle">
            {{ 'GRADINGHOME.hardbunchesimage' | translate}}
          </div>

          <ion-row class="form-row">
            <ion-col>
              <input
                type="text"
                class="h7 form-control"
                formControlName="txt_hardbunchesimageupload"
                placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.uploadbuttonmessage' | translate}}"
                readonly
            /></ion-col>
          </ion-row>

          <ion-row style="margin-top: 10px">
            <ion-col size="6" style="text-align: right !important">
              <button
                type="submit"
                class="btn btn-imageview"
                (click)="btn_view('HB')"
              >
                <ion-icon class="icon" name="eye-outline"></ion-icon>
                <span class="icontext">
                  {{ 'GENERALBUTTON.viewbutton' | translate}}</span
                >
              </button>
            </ion-col>

            <ion-col size="6" style="text-align: left !important">
              <button
                type="submit"
                class="btn btn-imageupload"
                (click)="imageUpload('HB')"
              >
                <ion-icon class="icon" name="cloud-upload-outline"></ion-icon>
                <span class="icontext">
                  {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
                >
              </button>
            </ion-col>
          </ion-row>
        </div> -->

        <ion-row>
          <ion-col style="text-align: center !important">
            <button
              type="submit"
              [disabled]="confirmDisable"
              class="btn btn-save"
              (click)="btn_save()"
            >
              {{ 'GENERALBUTTON.savebutton' | translate}}
            </button>
          </ion-col>
        </ion-row>

        <div
          class="hl4line"
          style="margin-bottom: 15px"
          *ngIf="gradinglistArr.length > 0 && !norecordFlag"
        ></div>
      </div>

      <div *ngIf="uinorecordFlag">
        <div class="reportstitleheader">
          {{ 'GRADINGHOME.lastfiverecords' | translate}}
        </div>

        <ion-card class="bg-card" *ngFor="let value of gradinglistArr">
          <ion-card-content class="cardcontent">
            <ion-row *ngIf="(value.vehicle_no!='' || value.insdt!='')">
              <ion-col>
                <p class="title-content">
                  {{value.vehicle_no}} &nbsp;&nbsp;&nbsp;&nbsp; {{value.insdt}}
                </p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.hard_bunch_percent!=''">
              <ion-col size="7"
                >{{ 'GRADINGHOME.hardbunches' | translate}} (Unit)</ion-col
              >

              <ion-col size="5">
                <p class="data">: {{value.hard_bunch_percent}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.under_ripe_bunch_percent!=''">
              <ion-col size="7"
                >{{ 'GRADINGHOME.underripebunches' | translate}} (%)</ion-col
              >

              <ion-col size="5">
                <p class="data">: {{value.under_ripe_bunch_percent}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.ripeness_percent!=''">
              <ion-col size="7"
                >{{ 'GRADINGHOME.ripeness' | translate}} (%)</ion-col
              >

              <ion-col size="5">
                <p class="data">: {{value.ripeness_percent}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.overdue_percent!=''">
              <ion-col size="7"
                >{{ 'GRADINGHOME.overdue' | translate}} (%)</ion-col
              >

              <ion-col size="5">
                <p class="data">: {{value.overdue_percent}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="value.loose_fruit_percent!=''">
              <ion-col size="7"
                >{{ 'GRADINGHOME.loosefruits' | translate}} (%)</ion-col
              >

              <ion-col size="5">
                <p class="data">: {{value.loose_fruit_percent}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <div class="pleasewait" *ngIf="pleasewaitflag">
          <div style="width: 100%; text-align: center">
            <img
              style="width: 80px; height: 80px"
              src="../../../assets/img/loading.gif"
            />
          </div>
          {{ 'NORECORDSFOUND.loading' | translate}}
        </div>
      </div>

      <div class="norecords" *ngIf="norecordFlag">
        {{ 'NORECORDSFOUND.norecordsfound' | translate}}
      </div>
    </form>
  </div>
</ion-content>
