<ion-header>
  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-title mode="ios" color="light">{{title}}</ion-title>

    <ion-buttons slot="start" *ngIf="correctivemaintenanceraiseFlag">
      <ion-button color="whitefav" (click)="btn_back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_close()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="stepstoolbar" *ngIf="correctivemaintenanceraiseFlag">
    <ion-row class="steps">
      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP1')">
        <span><b> 1 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP2')">
        <span><b> 2 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP3')">
        <span><b> 3 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP4')">
        <span><b> 4 </b></span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #pageBottom>
  <div class="content">
    <form
      [formGroup]="breakdownForm"
      [ngClass]="{'' : correctivemaintenanceraiseFlag, 'breakdownform' : !correctivemaintenanceraiseFlag}"
    >
      <div *ngIf="breakdownFlag">
        <ion-row
          class="form-row"
          *ngIf="getmachinename!=''"
          [ngClass]="{'machinetitleaftercm' : correctivemaintenanceraiseFlag, 'machinetitlebeforecm' : !correctivemaintenanceraiseFlag}"
        >
          <ion-col>
            <div class="viewtitle">{{getmachinename}}</div>
          </ion-col>
        </ion-row>

        <div style="margin: 0px 10px 0px 10px">
          <div *ngIf="!correctivemaintenanceraiseFlag" style="margin-top: 20px">
            <!-- <div class="problemheader">
              <div class="col">
                <div class="problemtitle">
                  {{ 'SUPERVISORDASHBOARD.problem' | translate}}
                </div>
              </div>
            </div>

            <div class="problemcard">
              <div class="problem_radio">
                <div *ngFor="let value of breakdownArr; let i = index">
                  <div style="margin-top: 20px; margin-bottom: 20px">
                    <input
                      type="radio"
                      id="option{{i}}"
                      name="radiobreakdown"
                      value="option{{i}}"
                      [checked]="value.selected==1"
                      (change)="onConditionOptionChange(value)"
                    />
                    <label for="option{{i}}" style="padding-right: 10px"
                      >{{ value.breakdownCoding }}</label
                    >
                  </div>
                </div>
              </div>
            </div> -->

            <div>
              <div class="col">
                <div
                  class="problemtitle"
                  style="text-align: left; color: #3cd2a5"
                >
                  {{ 'SUPERVISORDASHBOARD.problem' | translate}} :
                </div>
              </div>
            </div>

            <div class="problem_radio">
              <div *ngFor="let value of breakdownArr; let i = index">
                <div style="margin-top: 20px; margin-bottom: 20px">
                  <input
                    type="radio"
                    id="option{{i}}"
                    name="radiobreakdown"
                    value="option{{i}}"
                    [checked]="value.selected==1"
                    (change)="onConditionOptionChange(value)"
                  />
                  <label for="option{{i}}" style="padding-right: 10px"
                    >{{ value.breakdownCoding }}</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="correctivemaintenanceraiseFlag">
            <!-- Problem -->
            <ion-row class="form-row">
              <ion-col size="5.5">
                <div class="title">
                  {{ 'SUPERVISORDASHBOARD.problem' | translate}}
                </div>
              </ion-col>

              <ion-col size="0.5" style="text-align: center">
                <div class="title">
                  <b>:</b>
                </div>
              </ion-col>

              <ion-col size="6">
                <div class="title" style="text-align: center">
                  <b>{{breakdownvalue}}</b>
                </div>
              </ion-col>
            </ion-row>

            <div class="hl4line"></div>

            <!-- Maintenance Type -->
            <div>
              <ion-row class="form-row">
                <ion-col size="5.5">
                  <div class="title">
                    {{ 'MAINTENANCEACKNOWLEDGEMODAL.maintenancetype' |
                    translate}}
                  </div>
                </ion-col>

                <ion-col size="0.5" style="text-align: center">
                  <div class="title">
                    <b>:</b>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-select
                    mode="md"
                    [interfaceOptions]="maintenancetypeOptions"
                    formControlName="select_maintenancetype"
                    multiple="false"
                    [okText]="'GENERALBUTTON.okay' | translate"
                    [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
                    class="selectdropdown"
                    placeholder="{{ 'MAINTENANCEACKNOWLEDGEMODAL.select' | translate}}"
                    (ionChange)="maintenancetypehandleChange($event)"
                  >
                    <ion-select-option
                      value="{{parseString(value)}}"
                      *ngFor="let value of maintenancetypeArr; let i = index"
                      >{{ value.maintanence_type }}</ion-select-option
                    >
                  </ion-select>
                </ion-col>
              </ion-row>

              <div class="hl4line"></div>
            </div>

            <!-- Part Defect -->
            <div>
              <ion-row class="form-row">
                <ion-col size="5.5">
                  <div class="title" *ngIf="module == 'CM'">
                    {{ 'MAINTENANCEACKNOWLEDGEMODAL.partdefect' | translate}}
                  </div>
                  <div class="title" *ngIf="module == 'RoPM'">
                    {{ 'MAINTENANCEACKNOWLEDGEMODAL.partname' | translate}}
                  </div>
                  <div class="title" *ngIf="module == 'RePM'">
                    {{ 'MAINTENANCEACKNOWLEDGEMODAL.partreplaced' | translate}}
                  </div>
                </ion-col>

                <ion-col size="0.5" style="text-align: center">
                  <div class="title">
                    <b>:</b>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-button
                    class="optionbutton"
                    (click)="callmodalcontroller('PartDefect')"
                    >{{ 'MAINTENANCEACKNOWLEDGEMODAL.select' | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>

              <!-- <div
                class="title"
                style="margin-top: 10px; color: #3cd2a5; text-align: left"
                *ngIf="partvalue!=''"
              >
                <b *ngIf="module == 'CM'"
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.selectedpartdefect' |
                  translate}}</b
                >
                <b *ngIf="module == 'RoPM'"
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.selectedpartname' |
                  translate}}</b
                >
                <b *ngIf="module == 'RePM'"
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.selectedpartreceived' |
                  translate}}</b
                >
              </div> -->

              <div class="hl4line" *ngIf="partvalue=='' && !otherFlag"></div>

              <div
                class="selecteddata"
                *ngIf="partvalue!=''"
                [innerHTML]="partvalue"
              ></div>

              <div *ngIf="partvalue!=''">
                <div
                  style="font-size: 14px; color: #df4759; text-align: right"
                  (click)="clear('Part')"
                >
                  <ion-icon
                    class="icon"
                    color="danger"
                    name="backspace-outline"
                  ></ion-icon>
                  <span class="icontext"
                    ><b>
                      {{ 'MAINTENANCEACKNOWLEDGEMODAL.clear' | translate}}</b
                    ></span
                  >
                </div>
              </div>

              <div class="hl4line" *ngIf="partvalue!='' && !otherFlag"></div>

              <div *ngIf="otherFlag">
                <div class="form-row" style="margin-top: 10px">
                  <div class="col">
                    <div style="font-size: 14px; color: #ffffff">
                      <b
                        >{{ 'MAINTENANCEACKNOWLEDGEMODAL.partname' | translate}}
                        <sup>*</sup></b
                      >
                    </div>
                  </div>
                </div>

                <ion-row class="form-row">
                  <ion-col>
                    <input
                      type="text"
                      class="form-control"
                      style="font-size: 14px"
                      formControlName="txt_partname"
                      placeholder="{{ 'MAINTENANCEACKNOWLEDGEMODAL.enterpartname' | translate}}"
                    />
                  </ion-col>
                </ion-row>

                <ion-row class="form-row">
                  <ion-col>
                    <button
                      type="submit"
                      class="h7 btn btn-success"
                      style="margin-top: 5px"
                      (click)="btn_add('Part')"
                    >
                      {{ 'MAINTENANCEACKNOWLEDGEMODAL.add' | translate}}
                    </button>
                  </ion-col>
                </ion-row>

                <div class="hl4line" *ngIf="otherFlag"></div>
              </div>
            </div>

            <!-- Breakdown Causes -->
            <div>
              <ion-row class="form-row">
                <ion-col size="5.5">
                  <div class="title">
                    {{ 'MAINTENANCEACKNOWLEDGEMODAL.breakdowncauses' |
                    translate}}
                  </div>
                </ion-col>

                <ion-col size="0.5" style="text-align: center">
                  <div class="title">
                    <b>:</b>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <ion-button
                    class="optionbutton"
                    (click)="openBreakdownCauses()"
                    >{{ 'MAINTENANCEACKNOWLEDGEMODAL.select' | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>

              <div class="hl4line" *ngIf="breakdowncausesvalue==''"></div>

              <!-- <div
                class="title"
                style="margin-top: 10px; color: #3cd2a5"
                *ngIf="breakdowncausesvalue!=''"
              >
                <b
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.selectedbreakdowncauses' |
                  translate}}</b
                >
              </div> -->

              <div
                class="selecteddata"
                style="text-align: center"
                *ngIf="breakdowncausesvalue!=''"
                [innerHTML]="breakdowncausesvalue"
              ></div>

              <div class="hl4line" *ngIf="breakdowncausesvalue!=''"></div>

              <ion-select
                mode="md"
                [interfaceOptions]="breakdowncausesOptions"
                formControlName="select_breakdowncauses"
                multiple="true"
                [okText]="'GENERALBUTTON.okay' | translate"
                [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
                class="ionicselect"
                (ionChange)="breakdowncauseshandleChange($event)"
                #breakdowncausesSelect
              >
                <ion-select-option
                  value="{{parseString(value)}}"
                  *ngFor="let value of breakdowncausesArr; let i = index"
                  >{{ value.BreakdownCause }}</ion-select-option
                >
              </ion-select>
            </div>

            <!-- Remarks -->
            <div>
              <ion-row class="form-row" id="taremarks">
                <ion-col size="5.5">
                  <div class="title">
                    {{ 'SUPERVISORDASHBOARD.remarks' | translate}}
                  </div>
                </ion-col>

                <ion-col size="0.5" style="text-align: center">
                  <div class="title">
                    <b>:</b>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="form-row">
                <ion-col>
                  <div>
                    <textarea
                      class="h7 form-control"
                      formControlName="ta_remarks"
                      placeholder="{{ 'SUPERVISORDASHBOARD.typeremark' | translate}}"
                      rows="4"
                      autosize
                      (focus)="scrollbottom()"
                    ></textarea>
                  </div>
                </ion-col>
              </ion-row>

              <div class="hl4line"></div>
            </div>
          </div>
        </div>
      </div>

      <ion-row>
        <ion-col no-padding>
          <button
            type="submit"
            class="btn btn-next"
            *ngIf="correctivemaintenanceraiseFlag"
            (click)="save('')"
          >
            <span class="icontext"
              >{{ 'SUPERVISORDASHBOARD.save' | translate}}</span
            >
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
