ion-content{
  background-image: url(../../../assets/img/machinebg.png);
  background-position: center center fixed;
  background-repeat: repeat;
  background-size: cover;
}

.content {
  text-align: center;
  /*position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);*/
}

ion-header {
  .modaltoolbar {
    border-bottom: 1px solid #ffffff71;
  }
}

.problemheader {
  //border-radius: 10px 10px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ffffff;
  text-align: center;
  background-color: #000000;
  margin: 0px 5px 0px 5px;
  padding: 5px 0px 5px 0px;
}

.problemtitle {
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #ff9f0c;
}

.problemcard {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px 0px 5px 5px;
  background-color: #f7f7f7;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  background-image: url(../../../assets/img/palmbg.png);
  background-size: cover;
}

.breakdownform {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
}

.steps {
  padding: 10px;
  //margin-top: 10px;
}

form {
  padding: 0px !important;
}

.form-row {
  //margin: 5px;
  align-items: center;
  margin: 0px;
}

.footer {
  background-color: #1d2730;
}

.breakdownimg {
  width: 45%;
  height: 45%;
}

.machinetitlebeforecm {
  margin-top: 10px;
}

.machinetitleaftercm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selecteddata {
  margin-top: 20px;
  color: #3cd2a5;
  text-align: center;
  font-size: 14px;
}

.title {
  color: white;
  font-size: 14px;
  text-align: left;
}

.viewtitle {
  //margin: 0px 0px 10px 0px;
  color: #ff9f0c;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: transparent;
  border: 1px solid #ffffff;
  flex-grow: 0;
  padding: 0;
}

.circle span {
  color: #ffffff;
  text-align: center;
  width: 40px;
  display: inline-block;
  margin: auto;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.selectdropdown {
  background-color: transparent;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 0.5px solid #ff9f0c;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  --placeholder-color: white;
  --placeholder-opacity: 1;
}

ion-select::part(icon) {
  width: 15px;
  visibility: hidden;
}

.ionicselect {
  color: transparent;
  font-size: 1px;
  content-visibility: hidden;
  margin: 0px;
  padding: 0px;
}

.optionbutton {
  --background: transparent;
  //width: 70%;
  width: 100%;
  //height: 50px;
  height: 40px;
  font-size: 14px;
  text-transform: initial;
  margin: 0 !important;
  //border-radius: 50px;
  border-radius: 5px;
  //margin: 20px 0px 0px 0px;
  border: 0.5px solid #ff9f0c;
  --background-activated: transparent;
  --color-activated: #ffffff;
  --background-focused: transparent;
  --color-focused: #ffffff;
  --background-hover: transparent;
  --color-hover: #ffffff;
  --color: #ffffff;
}

.optionactivebutton {
  --background: #ff9f0c;
  width: 100%;
  height: 40px;
  font-size: 14px;
  text-transform: initial;
  border-radius: 50px;
  margin: 20px 0px 0px 0px;
  color: #ffffff;
}

.backbutton {
  background: #0000005c;
}

.btn-success {
  width: 120px;
}

.icon {
  vertical-align: middle;
  font-size: 24px;
}

.icontext {
  vertical-align: middle;
  font-size: 14px;
}

.btn-previous {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ff6060;
}

.btn-next {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #3cd2a5;
}

/*.btn-next:active {
  background-color: #1d2730;
  border: 1px solid #3cd2a5;
}

.btn-next:hover {
  background-color: #1d2730;
  border: 1px solid #3cd2a5;
}

.btn-next:focus {
  background-color: #1d2730;
  border: 1px solid #3cd2a5;
}*/

sup {
  color: red;
}

hr {
  height: 1px;
  border-top: 1px solid #ffffff;
}

.hl4line {
  border-top: 1px dashed #ffffff71;
  height: 0px !important;
  margin: 20px;
}

.problem_radio{
  margin: 20px 0px 10px 20%; 
  text-align: left
}

label {
  margin-left: 15px;
  font-size: 14px;
  //color: #000000;
  color: #ffffff;
  margin-bottom: 0px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

input[type="radio"]:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

input[type="radio"]:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #08ff08;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}