.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.form-row {
  margin: 10px 5px 5px 5px;
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
}

ion-grid {
  width: 100%;
}

ion-segment-button {
  min-height: 70px;
  padding-top: 5px;
  width: 33.33px;
  --indicator-box-shadow: none;
  border-radius: 0px !important;
  --background: linear-gradient(315deg, #d9d9d9 0%, #e9e9e9 74%);
  --color: #000000;
  --background-checked: linear-gradient(180deg, #1d2730 0%, #1d2730 74%);
  --color-checked: white;
  --indicator-color: transparent !important; /* this solution */
  --border-color: none;
  font-size: 5px;
}

.backgroundimage {
  height: 148px;
  width: 100%;
  margin-top: -10px;
  opacity: 0.8;
}

.myCard {
  position: relative;
}

.myOverlay {
  position: absolute;
  top: 10px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}

.usermessagecard {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 10px rounded corners */
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 15px 0px 15px;
  padding: 5px 5px 5px 5px;
}

.support {
  margin: auto;
  position: absolute;
  text-align: center;
  bottom: 2px;
  width: 100%;

  img {
    width: 100%;
    height: 400px;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);
  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.imagetitle {
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-weight: bold;
  color: #ff9f0c;
}

.imagecard {
  margin: 10px;
  padding: 5px 0px 5px 0px;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ffffff;
  border-radius: 5px; /* 5px rounded corners */
}

.imagePreview {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background: url("../../../assets/img/noimage.png");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  //box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePresent {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  //background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  //box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-imageview {
  font-size: 12px;
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.btn-imageupload {
  width: 150px;
  font-size: 12px;
  background-color: none;
  border-color: #30beff;
  color: #ffffff;
}

.selectdropdown {
  background-color: #fff;
  width: 100%;
  height: 33px;
  font-size: 12px;
  border: 1px solid #ced4da;
  color: #000000;
  border-radius: 4px;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  --placeholder-color: #495057;
  --placeholder-opacity: 1;
}

.notificationbadge {
  /*background-color: red;
      color: #ffffff;
      border-radius: 25px;
      font-size: 16px;
      width: 100%;
      height: 25px;*/

  min-width: 5px;
  min-height: 5px;
  padding: 3px 10px 3px 10px;
  color: #ffffff;
  background-color: red;
  font-size: 16px;
  border-radius: 5px;
}

.zeronotificationbadge {
  /*background-color: #ffffff;
      color: #000000;
      border-radius: 25px;
      font-size: 16px;
      width: 100%;
      height: 25px;*/

  min-width: 5px;
  min-height: 5px;
  padding: 3px 8px 3px 8px;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
}

.dcbadge {
  background-color: #87d37c;
  padding: 5px;
  margin: 3px;
  color: #000000;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.pvbadge {
  background-color: #ffffb3;
  padding: 5px;
  margin: 3px;
  color: #000000;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.rpvbadge {
  background-color: #ff4d4d;
  padding: 5px;
  margin: 3px;
  color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.cmbadge {
  background-color: #66ccff;
  padding: 5px;
  margin: 3px;
  color: #000000;
  border-radius: 20px;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  opacity: 0.9;
  animation: blink 1s linear infinite;
}

.badgeblink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.home-box {
  padding: 0px 5px 5px 11px;
  margin-top: 10px;

  ion-row {
    margin-top: 0px;
  }

  ion-col {
    font-size: 11px;
    margin: 0px;
    padding: 0px;
  }
}

.img-home {
  margin: 0px 28px 0px 28px;
  padding: 15px 30px 0px 30px;
}

.card-height {
  height: 100%;
  width: 100%;
}

.txt-home {
  text-align: center;
  margin-top: 10px;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 10px;
      padding: 5px;*/
  width: 100%;
  border: 1px solid #ffffff71;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}

.card2 {
  //box-shadow: 0 4px 8px 0 #ffffff;
  background-color: #ffffff;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border: 0.5px solid;
}

.card-header {
  padding: 5px;
}

.bg-light-color {
  --color: var(--ion-color-lightorange);
}

div.item {
  text-align: center;
  padding: 0px 0px 0px 0px;
}

img {
  width: 70px;
  height: 70px;
}

.engineerimg {
  width: 64px;
  height: 64px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-top: 5px;
}

.bg-yellow {
  //background-color: #474747;
  background-color: #000000;
  padding: 10px;
}

.bg-light-color {
  --color: var(--ion-color-white);
}

.lbl-head {
  padding-left: 10px;
  padding-top: 10px;
}
.lbl-desc {
  padding-left: 5px;
  padding-bottom: 0px;
}
.lbl-direction-right {
  width: 100%;
  text-align: right;
  padding: 5px;
}

.row-width-100 {
  width: 100%;
  margin: 10px;
  text-align: right;
}

p {
  color: #000000;
}

.btn-general {
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.btn-grading {
  width: 165px;
  background-color: none;
  font-size: 14px;
  border-color: #ff6060;
}

.btn-save {
  width: 150px;
  font-size: 14px;
  background-color: none;
  border-color: #3cd2a5;
  color: #ffffff;
}

.btn-more {
  font-size: 14px;
  background-color: none;
  border-color: #3cd2a5;
  color: #ffffff;
}

.row-reverse {
  flex-direction: row-reverse;
}

.margin-bottom {
  margin-bottom: 10px;
}

.h7 {
  font-size: 12px;
  text-transform: none;
}

.vertical-align-content {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 150%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

.icon {
  font-size: 14px;
  vertical-align: middle;
}

.icontext {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px dashed #ffffff71;
}

.title {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.card-background {
  text-align: center;
  ion-card {
    background: none;
    position: relative;
    text-align: center;
    width: 80%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: -1px 5px 5px 0px rgba(56, 56, 56, 0.75);
  }

  img {
    width: 100%;
    height: 100px;
  }

  ion-card-content {
    //background-color: #00000057;
    background-color: #1d2730;
    border-top: 1px solid #ffffff;
  }

  ion-card-title {
    font-size: 12px;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
  }
}

.report-card-background {
  margin-right: 0px !important;
  ion-card {
    background: none;
    width: 100%;
    //height: 145px;
    height: 142px;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: -1px 5px 5px 0px rgba(56, 56, 56, 0.75);

    img {
      width: 100%;
      height: 100px;
    }
  }

  ion-card-content {
    //background-color: #00000057;
    background-color: #1d2730;
    border-top: 1px solid #ffffff;
  }

  ion-card-title {
    font-size: 12px;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
  }
}

.reportstitleheader {
  background-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  color: #ff9f0c;
}

.productioncard-background {
  text-align: center;
  ion-card {
    background: #ffffff;
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: -1px 5px 5px 0px #717171b4;
    margin: auto;
    background-image: url(../../../assets/img/palmbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img {
    width: 100px;
    height: 100px;
  }

  ion-card-content {
    background-color: #1d2730;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../../../assets/img/cardbg.png);
    background-size: cover;
  }

  ion-card-title {
    font-size: 12px;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
  }
}

.bg-card {
  --background: #ffffff;
  background-image: url(../../../assets/img/palmbg.png);
  background-size: cover;
  border: 1px solid #ffffff;
  margin: 6px;

  ion-row {
    margin-top: -6px;
  }

  ion-col {
    font-size: 11px;
  }

  ion-card-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-content {
    font-size: 15px;
    color: #1d2730;
    font-weight: bold;
  }

  .card-content {
    padding: 0px;
  }

  .data {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .statusdata {
    font-size: 12px;
    font-weight: bold;
  }

  .btn-assign {
    background-color: none;
    border-color: #cb4335;
    box-shadow: none;
  }

  .btn-assign:hover {
    color: #cb4335;
  }

  .btn-view {
    //background-color: #a8b6bc;
    background-color: none;
    border-color: #ff9f0c;
  }

  .btn-assign:hover {
    color: #a8b6bc;
  }

  .btn-update {
    background-color: none;
    border-color: #ff9f0c;
    box-shadow: none;
  }

  .btn-update:hover {
    color: #ff9f0c;
  }
}

.okaybutton {
  width: 56px;
  height: 56px;
  margin: 0px;
  border: 3px solid #3cd2a5 !important;
  background-color: #ffffff;
  background-image: url("../../../assets/img/okay.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 50%;
  color: black;
  font-size: 12px;
}

.cancelbutton {
  width: 56px;
  height: 56px;
  margin: 0px;
  border: 3px solid #ff6060 !important;
  background-color: #ffffff;
  background-image: url("../../../assets/img/cancel.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 50%;
  color: black;
  font-size: 12px;
}

.hl4line {
  border-top: 1px dashed #ffffff71;
  height: 0px !important;
  margin: 10px 20px 10px 20px;
}

.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

.pleasewait {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 150%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}
