<!-- Lab -->
<ion-tabs *ngIf="getTabCheck(2)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabmaintenancehome">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="taboilloss">
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.oilloss' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabreports">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.reports' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Maintenance -->
<ion-tabs *ngIf="getTabCheck(7)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="tabmaintenancedashboard"
      *ngIf="(designationid==4 || designationid==6)"
    >
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmaintenancedashboard" *ngIf="(designationid==2)">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label style="font-size: 11px"
        >{{ 'TABSMAINTENANCE.dashboard' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button
      tab="tabcorrectivemaintenance"
      *ngIf="(designationid==4 || designationid==6)"
    >
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label
        >{{ 'TABSMAINTENANCE.correctivemaintenance' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="tabcorrectivemaintenance" *ngIf="(designationid==2)">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label style="font-size: 11px"
        >{{ 'TABSMAINTENANCE.correctivemaintenance' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button
      tab="tabpreventivemaintenance"
      *ngIf="(designationid==4 || designationid==6)"
    >
      <ion-icon name="build-outline"></ion-icon>
      <ion-label
        >{{ 'TABSMAINTENANCE.preventivemaintenance' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="tabpreventivemaintenance" *ngIf="(designationid==2)">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label style="font-size: 11px"
        >{{ 'TABSMAINTENANCE.preventivemaintenance' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button
      tab="tabjob"
      *ngIf="(designationid==5 || designationid==11)"
    >
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.job' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tabcalendar"
      *ngIf="(designationid==4 || designationid==5 || designationid==6 || designationid==11)"
    >
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.calendar' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabcalendar" *ngIf="(designationid==2 )">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label style="font-size: 11px"
        >{{ 'TABSMAINTENANCE.calendar' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="tabsupervisorhome" *ngIf="(designationid==2)">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label style="font-size: 11px"
        >{{ 'TABSSUPERVISOR.reports' | translate}}</ion-label
      >
    </ion-tab-button>

    <ion-tab-button
      tab="tabqrcodescanner"
      *ngIf="(designationid!=2 && designationid!=4 && designationid!=5 && designationid!=6 && designationid!=11)"
    >
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.scanner' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Manager -->
<!-- <ion-tabs *ngIf="getTabCheck(25)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabmaintenancedashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmaintenancehome">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.reports' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabqrcodescanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.scanner' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<!-- Production -->
<ion-tabs *ngIf="getTabCheck(4)">
  <!-- Expert Production Engineer -->
  <ion-tab-bar slot="bottom" *ngIf="designationid!=2">
    <ion-tab-button tab="tabsupervisordashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabalert">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.alert' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="taboilloss"
      *ngIf="designationid!=7 && designationid!=8"
    >
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.oilloss' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabsupervisorhome">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.reports' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSSUPERVISOR.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Production Engineer -->
  <ion-tab-bar slot="bottom" *ngIf="designationid==2">
    <ion-tab-button tab="tabmaintenancedashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabmaintenancehome">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.monitoring' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabqrcodescanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.scanner' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSMAINTENANCE.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Grading -->
<ion-tabs *ngIf="getTabCheck(10)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabgradinghome">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabgradingreports">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.reports' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabprofile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Owner -->
<ion-tabs *ngIf="getTabCheck(25)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="tabdashboard"
      style="--padding-start: 0px; --padding-end: 0px; font-size: 11px"
    >
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>{{ 'TABSOWNER.dashboard' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="taboilloss"
      style="--padding-end: 0px; font-size: 11px"
    >
      <ion-icon name="water-outline"></ion-icon>
      <ion-label>{{ 'TABSOWNER.oilloss' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tabproduction"
      style="--padding-end: 0px; font-size: 11px"
    >
      <ion-icon name="settings-outline"></ion-icon>

      <ion-label>{{ 'TABSOWNER.production' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tabmaintenance"
      style="--padding-end: 0px; font-size: 11px"
    >
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>{{ 'TABSOWNER.maintenance' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="tabreports"
      style="--padding-end: 0px; font-size: 11px"
    >
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSOWNER.reports' | translate}}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tabprofile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSOWNER.more' | translate}}</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>

<!-- Weighbridge -->
<ion-tabs *ngIf="getTabCheck(45)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabhome">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabreports">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.reports' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabprofile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'TABSGRADING.more' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
