<ion-header>
  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-title mode="ios" color="light">{{title}}</ion-title>

    <ion-buttons slot="start" *ngIf="stepFlag || viewFlag">
      <ion-button
        color="whitefav"
        (click)="btn_back('PREVIEW')"
        *ngIf="stepFlag"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <ion-button color="whitefav" (click)="btn_back('STEP1')" *ngIf="viewFlag">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="btn_close()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-toolbar class="stepstoolbar" *ngIf="!previewFlag">
    <ion-row class="steps">
      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP1')">
        <span><b> 1 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP2')">
        <span><b> 2 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP3')">
        <span><b> 3 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP4')">
        <span><b> 4 </b></span>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
</ion-header>
<ion-content #pageTop>
  <div class="content">
    <form *ngIf="previewFlag">
      <div id="notificationview" style="margin: 10px">
        <ion-row class="form-row">
          <ion-col size="2" style="text-align: center">
            <img class="logoimg" src="../../../assets/img/logo.png" />
          </ion-col>
          <ion-col size="8">
            <div class="usertext" style="text-align: center; font-size: 15px">
              <b
                >{{ 'MAINTENANCEACKNOWLEDGEMODAL.maintenance' | translate}}<br />{{
                'MAINTENANCEACKNOWLEDGEMODAL.notificationform' | translate}}</b
              >
            </div>
          </ion-col>
          <ion-col size="2" style="text-align: center">
            <img
              class="statusimg"
              *ngIf="getstatusid == '1'"
              src="../../../assets/img/notificationcreated.png"
            />

            <img
              class="statusimg"
              *ngIf="getstatusid != '1' && getstatusid != '8'"
              src="../../../assets/img/notificationinprogress.png"
            />

            <img
              class="statusimg"
              *ngIf="getstatusid == '8'"
              src="../../../assets/img/notificationclosed.png"
            />
          </ion-col>
        </ion-row>

        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngIf="getstatus!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.status' | translate}}
            </td>
            <td
              width="50%"
              style="background-color: #e74c3c; color: #ffffff"
              *ngIf="getstatusid=='1'"
            >
              <b>{{getstatus}}</b>
            </td>

            <td
              width="50%"
              style="background-color: #ffff00; color: #000000"
              *ngIf="getstatusid!='1' && getstatusid!='8'"
            >
              <b>{{getstatus}}</b>
            </td>

            <td
              width="50%"
              style="background-color: #008000; color: #ffffff"
              *ngIf="getstatusid=='8'"
            >
              <b>{{getstatus}}</b>
            </td>
          </tr>

          <tr *ngIf="getnotificationnumber!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.id' | translate}}
            </td>
            <td width="50%" class="data">{{getnotificationnumber}}</td>
          </tr>

          <tr *ngIf="getnotificationtype!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.notificationtype' | translate}}
            </td>
            <td width="50%" class="data">{{getnotificationtype}}</td>
          </tr>

          <tr *ngIf="getbreakdown!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.problem' | translate}}
            </td>
            <td width="50%" class="data">{{getbreakdown}}</td>
          </tr>

          <tr *ngIf="getmaintenancetype!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.maintenancetype' | translate}}
            </td>
            <td width="50%" class="data">{{getmaintenancetype}}</td>
          </tr>

          <tr *ngIf="getreportedby!=''">
            <td width="50%">
              {{ 'MAINTENANCENOTIFICATIONVIEW.reportedby' | translate}}
            </td>
            <td width="50%" class="data">{{getreportedby}}</td>
          </tr>

          <tr *ngIf="getbreakdownremarks!=''">
            <td>
              {{ 'MAINTENANCENOTIFICATIONVIEW.initialcomplaint' | translate}}
            </td>
            <td width="50%" class="data">{{getbreakdownremarks}}</td>
          </tr>
        </table>

        <div>
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b
                  >{{
                  'MAINTENANCEACKNOWLEDGEMODAL.maintenancenotificationdetails' |
                  translate}}</b
                >
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.stationname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getstationname}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.machineryname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getequipmentname}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getpartdefect!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark" *ngIf="module == 'CM'">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partdefect' | translate}}
                </div>
                <div class="h7 text-dark" *ngIf="module == 'RePM'">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partreplaced' | translate}}
                </div>
                <div class="h7 text-dark" *ngIf="module == ''">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getpartdefect}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getrunninghours!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.currentrunninghours' |
                  translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getrunninghours}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getbreakdowncauses!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.breakdowncauses' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getbreakdowncauses}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="form-row" *ngIf="getremarks!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.remarks' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getremarks}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getcreateddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.dateandtime' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getcreateddatetime}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <!-- Repair Activity -->
        <div *ngIf="!repairactivitynorecordFlag">
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b>{{ 'MAINTENANCEACKNOWLEDGEMODAL.activity' | translate}}</b>
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row" *ngIf="getactivity!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.smallactivity' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getactivity}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getpartreceiveddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partreceived' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getpartreceiveddatetime}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getactivitycompletiondatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.activitycompletion' |
                  translate}}<br />{{ 'MAINTENANCEACKNOWLEDGEMODAL.dateandtime'
                  | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">
                  {{getactivitycompletiondatetime}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getcarriedoutby!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.carriedoutby' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getcarriedoutby}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <!-- Job Authorization -->
        <div *ngIf="!jobauthorizationnorecordFlag">
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.jobacknowledgement' |
                  translate}}</b
                >
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row" *ngIf="getauthorizedby!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.acknowlegedby' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getauthorizedby}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getauthorizeddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.acknowledged' | translate}}<br />{{
                  'MAINTENANCEACKNOWLEDGEMODAL.dateandtime' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getauthorizeddatetime}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <ion-row style="margin-top: 10px">
          <ion-col style="text-align: center !important" no-padding>
            <button
              type="submit"
              class="btn btn-next"
              (click)="btn_next('PREVIEW')"
            >
              <span class="icontext" style="color: #ffffff"
                >{{ 'MAINTENANCEACKNOWLEDGEMODAL.next' | translate}}</span
              >
            </button>
          </ion-col>
        </ion-row>
      </div>
    </form>

    <form
      [formGroup]="step1Form"
      style="margin: 10px 10px 0px 10px"
      *ngIf="stepFlag"
    >
      <!-- Station -->
      <div *ngIf="getstationname!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.stationname' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getstationname!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getstationname}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Machine -->
      <div *ngIf="getequipmentname!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.machineryname' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getequipmentname!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getequipmentname}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Breakdown has been changed as Problem -->
      <div *ngIf="getbreakdown!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.problem' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getbreakdown!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdown}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Maintenance Type -->
      <div *ngIf="getmaintenancetype!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.maintenancetype' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getmaintenancetype!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getmaintenancetype}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Part Defect -->
      <div *ngIf="getpartdefect!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.partdefect' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getpartdefect!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getpartdefect}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Breakdown Causes -->
      <div *ngIf="getbreakdowncauses!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.breakdowncauses' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getbreakdowncauses!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdowncauses}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Activity -->
      <div *ngIf="getactivity!=''">
        <ion-row class="form-row" style="margin-top: 10px">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.activity' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7">
            <div class="viewtitle" style="text-align: left">
              <b>{{getactivity}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Carried Out By -->
      <div *ngIf="getcarriedoutby!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.carriedoutby' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7">
            <div class="viewtitle" style="text-align: left">
              <b>{{getcarriedoutby}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Remarks -->
      <div *ngIf="getbreakdownremarks!=''">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.remarks' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" *ngIf="getbreakdownremarks!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdownremarks}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div class="hl4line"></div>

      <!-- Damage Type -->
      <div *ngIf="damageFlag">
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.damagetype' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7">
            <ion-button class="optionbutton" (click)="openDamageType()"
              >{{ 'MAINTENANCEACKNOWLEDGEMODAL.select' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="hl4line" *ngIf="damagetypevalue==''"></div>

        <div
          class="title"
          style="margin-top: 10px; color: #3cd2a5; text-align: left"
          *ngIf="damagetypevalue!=''"
        >
          <b
            >{{ 'MAINTENANCEACKNOWLEDGEMODAL.selecteddamagetype' |
            translate}}</b
          >
        </div>

        <div
          class="title"
          style="text-align: center"
          *ngIf="damagetypevalue!=''"
          [innerHTML]="damagetypevalue"
        ></div>

        <div class="hl4line" *ngIf="damagetypevalue!=''"></div>

        <ion-select
          [interfaceOptions]="damagetypeOptions"
          formControlName="select_damagetype"
          multiple="true"
          [okText]="'GENERALBUTTON.okay' | translate"
          [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
          class="ionicselect"
          (ionChange)="damagehandleChange($event)"
          #damagetypeSelect
        >
          <ion-select-option
            value="{{parseString(value)}}"
            *ngFor="let value of damageArr; let i = index"
            >{{ value.damage }}</ion-select-option
          >
        </ion-select>
      </div>

      <ion-row style="margin-top: 10px">
        <ion-col style="text-align: center !important" no-padding>
          <button
            type="submit"
            class="btn btn-next"
            (click)="btn_next('STEP1')"
          >
            <span class="icontext" style="color: #ffffff"
              >{{ 'MAINTENANCEACKNOWLEDGEMODAL.next' | translate}}</span
            >
          </button>
        </ion-col>
      </ion-row>
    </form>

    <form *ngIf="viewFlag">
      <div id="notificationview" style="margin: 10px">
        <ion-row class="form-row">
          <ion-col size="2" style="text-align: center">
            <img class="logoimg" src="../../../assets/img/logo.png" />
          </ion-col>
          <ion-col size="8">
            <div class="usertext" style="text-align: center; font-size: 15px">
              <b
                >{{ 'MAINTENANCEACKNOWLEDGEMODAL.maintenance' | translate}}<br />{{
                'MAINTENANCEACKNOWLEDGEMODAL.notificationform' | translate}}</b
              >
            </div>
          </ion-col>
          <ion-col size="2" style="text-align: center">
            <img
              class="statusimg"
              *ngIf="getstatusid == '1'"
              src="../../../assets/img/notificationcreated.png"
            />

            <img
              class="statusimg"
              *ngIf="getstatusid != '1' && getstatusid != '8'"
              src="../../../assets/img/notificationinprogress.png"
            />

            <img
              class="statusimg"
              *ngIf="getstatusid == '8'"
              src="../../../assets/img/notificationclosed.png"
            />
          </ion-col>
        </ion-row>

        <table style="width: 100%; height: 100%" class="table table-bordered">
          <tr *ngIf="getstatus!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.status' | translate}}
            </td>
            <td
              width="50%"
              style="background-color: #e74c3c; color: #ffffff"
              *ngIf="getstatusid=='1'"
            >
              <b>{{getstatus}}</b>
            </td>

            <td
              width="50%"
              style="background-color: #ffff00; color: #000000"
              *ngIf="getstatusid!='1' && getstatusid!='8'"
            >
              <b>{{getstatus}}</b>
            </td>

            <td
              width="50%"
              style="background-color: #008000; color: #ffffff"
              *ngIf="getstatusid=='8'"
            >
              <b>{{getstatus}}</b>
            </td>
          </tr>

          <tr *ngIf="getnotificationnumber!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.id' | translate}}
            </td>
            <td width="50%" class="data">{{getnotificationnumber}}</td>
          </tr>

          <tr *ngIf="getnotificationtype!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.notificationtype' | translate}}
            </td>
            <td width="50%" class="data">{{getnotificationtype}}</td>
          </tr>

          <tr *ngIf="getbreakdown!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.problem' | translate}}
            </td>
            <td width="50%" class="data">{{getbreakdown}}</td>
          </tr>

          <tr *ngIf="getmaintenancetype!=''">
            <td width="50%">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.maintenancetype' | translate}}
            </td>
            <td width="50%" class="data">{{getmaintenancetype}}</td>
          </tr>

          <tr *ngIf="getreportedby!=''">
            <td width="50%">
              {{ 'MAINTENANCENOTIFICATIONVIEW.reportedby' | translate}}
            </td>
            <td width="50%" class="data">{{getreportedby}}</td>
          </tr>

          <tr *ngIf="getbreakdownremarks!=''">
            <td>
              {{ 'MAINTENANCENOTIFICATIONVIEW.initialcomplaint' | translate}}
            </td>
            <td width="50%" class="data">{{getbreakdownremarks}}</td>
          </tr>
        </table>

        <div>
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b
                  >{{
                  'MAINTENANCEACKNOWLEDGEMODAL.maintenancenotificationdetails' |
                  translate}}</b
                >
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.stationname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getstationname}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.machineryname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getequipmentname}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getpartdefect!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark" *ngIf="module == 'CM'">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partdefect' | translate}}
                </div>
                <div class="h7 text-dark" *ngIf="module == 'RePM'">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partreplaced' | translate}}
                </div>
                <div class="h7 text-dark" *ngIf="module == ''">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partname' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getpartdefect}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getrunninghours!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.currentrunninghours' |
                  translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getrunninghours}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="view_damage_type!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.damage' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{view_damage_type}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getbreakdowncauses!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.breakdowncauses' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getbreakdowncauses}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="form-row" *ngIf="getremarks!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCENOTIFICATIONVIEW.remarks' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getremarks}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getcreateddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.dateandtime' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getcreateddatetime}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <!-- Repair Activity -->
        <div *ngIf="!repairactivitynorecordFlag">
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b>{{ 'MAINTENANCEACKNOWLEDGEMODAL.activity' | translate}}</b>
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row" *ngIf="getactivity!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.smallactivity' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getactivity}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getpartreceiveddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.partreceived' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getpartreceiveddatetime}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getactivitycompletiondatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.activitycompletion' |
                  translate}}<br />{{ 'MAINTENANCEACKNOWLEDGEMODAL.dateandtime'
                  | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">
                  {{getactivitycompletiondatetime}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="notificationform-row" *ngIf="getcarriedoutby!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.carriedoutby' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getcarriedoutby}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <!-- Job Authorization -->
        <div *ngIf="!jobauthorizationnorecordFlag">
          <div class="titleheader">
            <div class="col">
              <div class="notificationtitle text-uppercase">
                <b
                  >{{ 'MAINTENANCEACKNOWLEDGEMODAL.jobacknowledgement' |
                  translate}}</b
                >
              </div>
            </div>
          </div>

          <div class="notificationcard">
            <ion-row class="notificationform-row" *ngIf="getauthorizedby!=''">
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.acknowlegedby' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getauthorizedby}}</div>
              </ion-col>
            </ion-row>

            <ion-row
              class="notificationform-row"
              *ngIf="getauthorizeddatetime!=''"
            >
              <ion-col size="4.5">
                <div class="h7 text-dark">
                  {{ 'MAINTENANCEACKNOWLEDGEMODAL.acknowledged' | translate}}<br />{{
                  'MAINTENANCEACKNOWLEDGEMODAL.dateandtime' | translate}}
                </div>
              </ion-col>
              <ion-col size="0.5" style="text-align: center">
                <div class="h7 text-dark">:</div>
              </ion-col>
              <ion-col size="7">
                <div class="h7 blockdata">{{getauthorizeddatetime}}</div>
              </ion-col>
            </ion-row>
          </div>
        </div>

        <div style="text-align: center">
          <button
            type="submit"
            [disabled]="confirmDisable"
            class="h6 btn btn-success"
            (click)="showAuthorize()"
            style="margin-top: 10px; margin-bottom: 10px"
          >
            {{ 'GENERALBUTTON.closebutton' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
