.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.form-row {
  margin: 5px;
  align-items: center;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: transparent;
  color: #ffffff;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

.bg-light-color {
  --color: var(--ion-color-white);
}

ion-grid {
  width: 100%;
}

.backgroundimage {
  height: 148px;
  width: 100%;
  margin-top: -10px;
  opacity: 0.8;
}

.myCard {
  position: relative;
}

.myOverlay {
  position: absolute;
  top: 10px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}
.usermessagecard {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 10px rounded corners */
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 15px 0px 15px;
  padding: 5px 5px 5px 5px;
}
.norecords {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}

.pleasewait {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 150%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
}
table {
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  padding: 5px;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 0.3rem !important;
}

.table_head {
  background-color: #1d2730;
  color: #ff9f0c;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

td {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

th {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.table th {
  padding: 0rem !important;
}

.mdfont {
  font-size: 11px;
}
.home-box {
  padding: 0px 5px 5px 5px;
  margin-top: 0px;
}
.btn-edit {
  background-color: none;
  border-color: #ff6060;
  color: #ffffff;
}
.icontext {
  vertical-align: middle;
}
.bg-card {
  --background: #ffffff;
  background-image: url(../../../assets/img/palmbg.png);
  background-size: cover;
  border: 1px solid #ffffff;
  margin: 6px;

  ion-row {
    margin-top: -6px;
  }

  ion-col {
    font-size: 11px;
  }

  ion-card-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-content {
    font-size: 15px;
    color: #1d2730;
    font-weight: bold;
  }

  .card-content {
    padding: 0px;
  }

  .data {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .statusdata {
    font-size: 12px;
    font-weight: bold;
  }

  .btn-assign {
    background-color: none;
    border-color: #cb4335;
    box-shadow: none;
  }

  .btn-assign:hover {
    color: #cb4335;
  }

  .btn-view {
    //background-color: #a8b6bc;
    background-color: none;
    border-color: #ff9f0c;
  }

  .btn-assign:hover {
    color: #a8b6bc;
  }

  .btn-update {
    background-color: none;
    border-color: #ff9f0c;
    box-shadow: none;
  }

  .btn-update:hover {
    color: #ff9f0c;
  }
}

.btn-general {
  background-color: none;
  border-color: #ff9f0c;
  color: #ffffff;
}

.badgecolor {
  position: absolute;
  opacity: 0.9;
  background: blue;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.badgecolor {
  background: transparent;
  margin: 5px 10px 0px 0px;
  color: #1d2730;
}

.twodigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.8rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.iostwodigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.6rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.onedigitbadgecount {
  background: white;
  padding: 5px;
  color: red;
  border-radius: 20px;
  position: absolute;
  right: -0.2rem;
  opacity: 0.9;
  font-size: 15px;
  margin: 5px;
}

.badgeblink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #c2c2c2;
}
