<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start">
      <ion-button color="whitefav" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" color="light" *ngIf="title!=''">{{title}}</ion-title>
    <ion-title mode="ios" color="light" *ngIf="title==''"
      >{{ 'SEARCHACTIVITY.searchpartname' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="materialsearchForm">
    <!-- <ion-row class="form-row">
      <ion-col class="h7 text-dark" size="3"> Select By </ion-col>

      <ion-col class="h7 text-dark" size="9">
        <select
          formControlName="select_searchby"
          class="h7 text-dark form-control"
          (change)="onChangeSearchBy()"
        >
          <option value="" selected disabled hidden>Select</option>
          <option value="1">Material Name</option>
          <option value="2">Material Number</option>
        </select>
      </ion-col>
    </ion-row> -->

    <ion-searchbar
      #search
      debounce="500"
      (ionChange)="_ionchange($event)"
      placeholder="{{ 'SEARCHACTIVITY.search' | translate}}"
    ></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let item of materialArr" (click)="getvalue(item)">
        <ion-label class="h7" [style.color]="gettextColor(item.status)"
          >{{item.item_name}}</ion-label
        >
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="pagination($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'NORECORDSFOUND.loadingmoredata' | translate}}"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="norecords" *ngIf="norecordsflag">
      {{ 'SEARCHACTIVITY.nopartsmapped' | translate}}
    </div>
  </form>
</ion-content>
