<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title
      mode="ios"
      color="light"
      *ngIf="!bpvimageviewFlag && !peakimageviewFlag"
      >{{ 'HOURLYSTERILIZATIONSTATIONSAVE.title' | translate}}</ion-title
    >

    <ion-title
      mode="ios"
      *ngIf="(bpvimageviewFlag || peakimageviewFlag)"
      color="light"
      ><div class="toolbar-title" *ngIf="getlanguage=='English'">
        {{imageviewtitle}} {{ 'HOURLYPRESSSTATIONSAVE.images' | translate}}
      </div>

      <div class="toolbar-title" *ngIf="getlanguage=='Malay'">
        {{ 'HOURLYPRESSSTATIONSAVE.images' | translate}} {{imageviewtitle}}
      </div>
    </ion-title>

    <ion-buttons
      slot="start"
      *ngIf="!viewFlag && !bpvimageviewFlag && !peakimageviewFlag"
    >
      <ion-button color="whitefav" (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons
      slot="start"
      *ngIf="viewFlag && !bpvimageviewFlag && !peakimageviewFlag"
    >
      <ion-button color="whitefav" (click)="cancelconfirm()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons
      slot="end"
      *ngIf="!viewFlag && (bpvimageviewFlag || peakimageviewFlag)"
    >
      <ion-button color="whitefav" (click)="imageviewcancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <!-- Input Data to get from user -->
  <form
    [formGroup]="sterilizerstationForm"
    *ngIf="!viewFlag && !bpvimageviewFlag && !peakimageviewFlag"
  >
    <div *ngIf="uienableflag">
      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_cyclenumber"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}"
          />
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <select
            formControlName="select_sterilizer"
            class="h7 form-control text-dark"
            (change)="onConditionSterilizer()"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYSTERILIZATIONSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of sterilizerArr"
            >
              {{ value.machine_name }}
            </option>
          </select>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <select
            formControlName="select_fruittype"
            class="h7 form-control text-dark"
          >
            <option value="" selected disabled hidden>
              {{ 'HOURLYSTERILIZATIONSTATIONSAVE.select' | translate}}
            </option>
            <option
              value="{{parseString(value)}}"
              *ngFor="let value of fruittypeArr"
            >
              {{ value.fruittype }}
            </option>
          </select>
        </ion-col>
      </ion-row> -->

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}
            <sup>*</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="txt_doorshuttime"
            display-format="DD-MM-YYYY HH:mm"
            [min]="doorshutminimumdate"
            placeholder="DD-MM-YYYY HH:mm"
            cancelText="{{ 'GENERALBUTTON.cancelbutton' | translate}}"
            doneText="{{ 'GENERALBUTTON.okay' | translate}}"
          >
          </ion-datetime>

          <!-- <input
            type="text"
            class="h7 form-control readonly"
            formControlName="txt_doorshuttime"
            placeholder="DD-MM-YYYY HH:mm"
            (click)="openDateTimePicker('DST')"
            readonly
          /> -->
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-datetime
            mode="ios"
            class="h7 form-control"
            formControlName="txt_dooropentime"
            display-format="DD-MM-YYYY HH:mm"
            [min]="minimumdate"
            placeholder="DD-MM-YYYY HH:mm"
            cancelText="{{ 'GENERALBUTTON.cancelbutton' | translate}}"
            doneText="{{ 'GENERALBUTTON.okay' | translate}}"
            (ionChange)="onDoorOpenTimeChange()"
          >
          </ion-datetime>

          <!-- <input
            type="text"
            class="h7 form-control readonly"
            formControlName="txt_dooropentime"
            placeholder="DD-MM-YYYY HH:mm"
            (click)="openDateTimePicker('DOT')"
            readonly
          /> -->
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropenlater' | translate}}
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-row class="dooropenlaterradiobutton">
            <ion-col style="text-align: left; padding-left: 0px">
              <div>
                <input
                  type="radio"
                  id="radio_dooropenlater"
                  name="radio_dooropenlater"
                  value="Yes"
                  (change)="onConditionDoorOpenChange('Yes')"
                  [checked]="dooropenlaterFlag"
                />
                <label for="radio_dooropenlater" style="padding-right: 10px"
                  >{{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropenlateroption' |
                  translate}}</label
                >
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressure' | translate}}<br />{{
            'HOURLYSTERILIZATIONSTATIONSAVE.receiver' | translate}} [PSI]
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            id="backpressurereceiver"
            name="backpressurereceiver"
            formControlName="txt_backpressurereceiver"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressureterm' | translate}}"
            (keypress)="decimalFilter($event)"
            (input)="onChangeBackPressureReceiver()"
          />
        </ion-col>
        <!-- <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="bpvimageuiflag">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('BPV')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('BPV')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->

            <span class="icontext" *ngIf="bpvimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="bpvimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{bpvimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}} [PSI]
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p1"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}"
            (keypress)="decimalFilter($event)"
            (input)="onChangeP1()"
          />
        </ion-col>
        <!-- <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}} [PSI]
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p2"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}"
            (keypress)="decimalFilter($event)"
            (input)="onChangeP2()"
          />
        </ion-col>
        <!-- <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row">
        <ion-col size="6">
          <div class="h7 text-light">
            {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}} [PSI]
            <sup> *</sup>
          </div>
        </ion-col>
        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_p3"
            placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}"
            (keypress)="decimalFilter($event)"
            (input)="onChangeP3()"
          />
        </ion-col>
        <!-- <ion-col size="1.5">
          <div class="h7 text-light"><b>PSI</b></div>
        </ion-col> -->
      </ion-row>

      <ion-row class="form-row" *ngIf="peakimageuiflag">
        <ion-col style="text-align: right !important">
          <button
            type="submit"
            class="btn btn-imageupload"
            (click)="imageUpload('Peak')"
          >
            <ion-icon class="icon" name="camera-outline"></ion-icon>
            <span class="icontext">
              {{ 'GENERALBUTTON.uploadbutton' | translate}}</span
            >
          </button>

          <button
            type="submit"
            class="btn btn-imageview"
            (click)="btn_view('Peak')"
          >
            <!-- <ion-icon class="icon" name="eye-outline"></ion-icon> -->

            <span class="icontext" *ngIf="peakimagesArr.length==0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
            </span>
            <span class="icontext" *ngIf="peakimagesArr.length>0">
              {{ 'GENERALBUTTON.viewbutton' | translate}}
              ({{peakimagesArr.length}})
            </span>
          </button>
        </ion-col>
      </ion-row>

      <hr />

      <ion-row>
        <ion-col size="6" style="text-align: right !important">
          <button type="submit" class="btn btn-save" (click)="savealert()">
            {{ 'GENERALBUTTON.savebutton' | translate}}
          </button>
        </ion-col>

        <ion-col size="6" style="text-align: left !important">
          <button type="submit" class="btn btn-cancel" (click)="cancel()">
            {{ 'GENERALBUTTON.cancelbutton' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div class="norecords" *ngIf="norecordsflag==true">
      {{ 'HOURLYSTERILIZATIONSTATIONSAVE.nosertilizationstationinonline' |
      translate}}
    </div>
  </form>

  <!-- To View Data before to Save -->
  <div
    class="home-box"
    *ngIf="viewFlag && !bpvimageviewFlag && !peakimageviewFlag"
  >
    <div class="h6" style="margin-left: 10px; margin-top: 10px; color: #3cd2a5">
      <b>{{ 'HOURLYSTERILIZATIONSTATIONSAVE.alert' | translate}}</b>
    </div>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.cycleno' | translate}}"
          value="{{view_cycleno}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.sterilizerno' | translate}}"
          value="{{view_sterilizername}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <!-- <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.fruittype' | translate}}"
          value="{{view_fruittype}}"
          readonly
        />
      </ion-col>
    </ion-row> -->

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.doorshuttime' | translate}}"
          value="{{view_doorshuttime}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.dooropentime' | translate}}"
          value="{{view_dooropentime}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressurereceiver' | translate}}
          [PSI]
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.backpressureterm' | translate}}"
          value="{{view_backpressurereceiver}}"
          readonly
        />
      </ion-col>

      <!-- <ion-col size="1.5">
        <div class="h7 text-light"><b>PSI</b></div>
      </ion-col> -->
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}} [PSI]
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p1peak' | translate}}"
          value="{{view_p1peak}}"
          readonly
        />
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}} [PSI]
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p2peak' | translate}}"
          value="{{view_p2peak}}"
          readonly
        />
      </ion-col>
      <!-- <ion-col size="1.5">
        <div class="h7 text-light"><b>PSI</b></div>
      </ion-col> -->
    </ion-row>

    <ion-row class="form-row">
      <ion-col size="6">
        <div class="h7 text-light">
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}} [PSI]
        </div>
      </ion-col>
      <ion-col size="6">
        <input
          type="text"
          class="h7 form-control"
          placeholder="{{ 'HOURLYSTERILIZATIONSTATIONSAVE.p3peak' | translate}}"
          value="{{view_p3peak}}"
          readonly
        />
      </ion-col>
      <!-- <ion-col size="1.5">
        <div class="h7 text-light"><b>PSI</b></div>
      </ion-col> -->
    </ion-row>

    <hr />

    <ion-row>
      <ion-col size="6" style="text-align: right !important">
        <button
          type="submit"
          [disabled]="isDisabled"
          class="btn btn-confirm"
          (click)="confirmalert()"
        >
          {{ 'HOURLYSTERILIZATIONSTATIONSAVE.confirmbutton' | translate}}
        </button>
      </ion-col>

      <ion-col size="6" style="text-align: left !important">
        <button type="submit" class="btn btn-cancel" (click)="cancelconfirm()">
          {{ 'GENERALBUTTON.cancelbutton' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </div>

  <!-- To View Images in Slider -->
  <!-- Back Pressure Receiver Images -->
  <div class="content" *ngIf="!viewFlag && bpvimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of bpvimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- Peak Images -->
  <div class="content" *ngIf="!viewFlag && peakimageviewFlag">
    <ion-slides
      #sliders
      (ionSlidesDidLoad)="slidesDidLoad(sliders)"
      pager="true"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let value of peakimagesArr">
        <ion-card class="card">
          <img
            style="width: 500px; height: 500px"
            src="{{value}}"
            alt=""
            srcset=""
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
