<ion-header>
  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-title mode="ios" color="light">{{title}}</ion-title>

    <ion-buttons slot="start" *ngIf="viewFlag">
      <ion-button color="whitefav" (click)="btn_back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bg-light-color" (click)="btn_close()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-toolbar class="stepstoolbar">
    <ion-row class="steps">
      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP1')">
        <span><b> 1 </b></span>
      </ion-col>

      <ion-col>
        <hr />
      </ion-col>

      <ion-col class="circle" [style.backgroundColor]="getStatusColor('STEP2')">
        <span><b> 2 </b></span>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->
</ion-header>

<ion-content #pageTop>
  <div class="content">
    <form
      [formGroup]="step1Form"
      style="margin-top: 10px; padding-left: 10px"
      *ngIf="stepFlag"
    >
      <ion-row
        class="form-row"
        *ngIf="getmachinename!=''"
        style="margin-bottom: 5px"
      >
        <ion-col>
          <div class="machinetitle">{{getmachinename}}</div>
        </ion-col>
      </ion-row>

      <!-- Breakdown has been changed as Problem -->
      <div *ngIf="getbreakdownvalue!=''">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.problem' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="getbreakdownvalue!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdownvalue}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Maintenance Type -->
      <div *ngIf="getmaintenancetypevalue!=''">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.maintenancetype' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="getmaintenancetypevalue!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getmaintenancetypevalue}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Part Defect -->
      <div *ngIf="getpartdefectvalue!=''">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.partdefect' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="getpartdefectvalue!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getpartdefectvalue}}</b>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- Breakdown Causes -->
      <div *ngIf="getbreakdowncausesvalue!=''">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.breakdowncauses' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="getbreakdowncausesvalue!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdowncausesvalue}}</b>
            </div>
          </ion-col>
        </ion-row>

        <div class="hl4line" *ngIf="getbreakdownremarksvalue==''"></div>
      </div>

      <!-- Remarks -->
      <div *ngIf="getbreakdownremarksvalue!=''">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.remarks' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6" *ngIf="getbreakdownremarksvalue!=''">
            <div class="viewtitle" style="text-align: left">
              <b>{{getbreakdownremarksvalue}}</b>
            </div>
          </ion-col>
        </ion-row>

        <div class="hl4line" *ngIf="getbreakdownremarksvalue!=''"></div>
      </div>

      <!-- <div class="hl4line"></div> -->

      <!-- Damage Type -->
      <div *ngIf="damagetypeFlag">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEACKNOWLEDGEMODAL.damagetype' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-button class="optionbutton" (click)="openDamageType()"
              >{{ 'MAINTENANCEACKNOWLEDGEMODAL.select' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="hl4line" *ngIf="damagetypevalue==''"></div>

        <div
          class="selecteddata"
          style="text-align: center"
          *ngIf="damagetypevalue!=''"
          [innerHTML]="damagetypevalue"
        ></div>

        <div class="hl4line" *ngIf="damagetypevalue!=''"></div>

        <ion-select
          mode="md"
          [interfaceOptions]="damagetypeOptions"
          formControlName="select_damagetype"
          multiple="true"
          [okText]="'GENERALBUTTON.okay' | translate"
          [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
          class="ionicselect"
          (ionChange)="damagehandleChange($event)"
          #damagetypeSelect
        >
          <ion-select-option
            value="{{parseString(value)}}"
            *ngFor="let value of damageArr; let i = index"
            >{{ value.damage }}</ion-select-option
          >
        </ion-select>
      </div>

      <!-- Activity -->
      <div *ngIf="activityFlag">
        <div *ngIf="getactivityvalue!=''">
          <ion-row class="form-row" style="margin-top: 10px">
            <ion-col size="5.5">
              <div class="title">
                {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.activity' |
                translate}}
              </div>
            </ion-col>

            <ion-col size="0.5" style="text-align: center">
              <div class="title">
                <b>:</b>
              </div>
            </ion-col>

            <ion-col size="6">
              <div class="viewtitle" style="text-align: center">
                <b>{{getactivityvalue}}</b>
              </div>
            </ion-col>
          </ion-row>

          <div class="hl4line" *ngIf="getactivityvalue!=''"></div>
        </div>

        <div *ngIf="getactivityvalue==''">
          <ion-row class="form-row" style="margin-top: 10px">
            <ion-col size="5.5">
              <div class="title">
                {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.activity' |
                translate}}
              </div>
            </ion-col>

            <ion-col size="0.5" style="text-align: center">
              <div class="title">
                <b>:</b>
              </div>
            </ion-col>

            <ion-col size="6">
              <ion-button
                class="optionbutton"
                (click)="callmodalcontroller('Activity')"
                >{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.select' |
                translate}}
              </ion-button>
            </ion-col>
          </ion-row>

          <div class="hl4line" *ngIf="activityvalue==''"></div>

          <div
            class="selecteddata"
            style="text-align: center"
            *ngIf="activityvalue!=''"
            [innerHTML]="activityvalue"
          ></div>

          <div *ngIf="activityvalue!=''">
            <div
              style="font-size: 14px; color: #df4759; text-align: right"
              (click)="clear('Activity')"
            >
              <ion-icon
                class="icon"
                color="danger"
                name="backspace-outline"
              ></ion-icon>
              <span class="icontext"
                ><b>
                  {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.clear' |
                  translate}}</b
                ></span
              >
            </div>
          </div>

          <div class="hl4line" *ngIf="activityvalue!=''"></div>

          <div *ngIf="otheractivityFlag">
            <div class="form-row" style="margin-top: 10px">
              <div class="col">
                <div style="font-size: 14px; color: #ffffff">
                  <b
                    >{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.activityname' |
                    translate}}<sup>*</sup></b
                  >
                </div>
              </div>
            </div>

            <ion-row class="form-row">
              <ion-col>
                <input
                  type="text"
                  class="form-control"
                  style="font-size: 14px"
                  formControlName="txt_activityname"
                  placeholder="{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.placeholder' | translate}}"
                />
              </ion-col>
            </ion-row>

            <ion-row class="form-row">
              <ion-col>
                <button
                  type="submit"
                  class="h7 btn btn-success"
                  style="margin-top: 5px"
                  (click)="btn_add('Activity')"
                >
                  {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.add' | translate}}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <!-- Assigned To -->
      <div *ngIf="assignedtoFlag">
        <ion-row class="form-row">
          <ion-col size="5.5">
            <div class="title">
              {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.assignto' |
              translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: center">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-button class="optionbutton" (click)="openAssignedTo()"
              >{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.select' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>

        <div class="hl4line" *ngIf="assignedtovalue==''"></div>

        <div
          class="selecteddata"
          style="text-align: center"
          *ngIf="assignedtovalue!=''"
          [innerHTML]="assignedtovalue"
        ></div>

        <div class="hl4line" *ngIf="assignedtovalue!=''"></div>

        <ion-select
          mode="md"
          [interfaceOptions]="assignedtoOptions"
          formControlName="select_assignedto"
          multiple="true"
          [okText]="'GENERALBUTTON.okay' | translate"
          [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
          class="ionicselect"
          (ionChange)="assignedtohandleChange($event)"
          #assignedtoSelect
        >
          <ion-select-option
            value="{{parseString(value)}}"
            *ngFor="let value of assignedtoArr; let i = index"
            >{{ value.name }}</ion-select-option
          >
        </ion-select>
      </div>

      <ion-row style="margin-top: 10px">
        <ion-col style="text-align: center !important" no-padding>
          <button
            type="submit"
            class="btn btn-next"
            [disabled]="confirmDisable"
            (click)="btn_next('STEP1')"
          >
            <span class="icontext" style="color: #ffffff"
              >{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.save' |
              translate}}</span
            >
          </button>
        </ion-col>
      </ion-row>
    </form>

    <!-- <form *ngIf="viewFlag" style="margin-top: 10px; padding-left: 10px">
      <ion-row
        class="form-row"
        *ngIf="getmachinename!=''"
        style="margin-bottom: 5px"
      >
        <ion-col>
          <div class="machinetitle">{{getmachinename}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="getbreakdownvalue!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.problem' | translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{getbreakdownvalue}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="getmaintenancetypevalue!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.maintenancetype' |
            translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{getmaintenancetypevalue}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="getpartdefectvalue!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.partdefect' |
            translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{getpartdefectvalue}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="getbreakdowncausesvalue!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.breakdowncauses' |
            translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{getbreakdowncausesvalue}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="getbreakdownremarksvalue!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.remarks' | translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{getbreakdownremarksvalue}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="view_activity!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.activity' | translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{view_activity}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="form-row" *ngIf="view_assignto!=''">
        <ion-col size="4.5">
          <div class="title">
            {{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.assignedto' |
            translate}}
          </div>
        </ion-col>
        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: left">
          <div class="viewtitle">
            <b>{{view_assignto}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 10px">
        <ion-col style="text-align: center !important" no-padding>
          <button
            type="submit"
            [disabled]="confirmDisable"
            class="btn btn-next"
            (click)="showalert()"
          >
            <span class="icontext" style="color: #ffffff"
              >{{ 'MAINTENANCEENGINEERINGNOTIFICATIONMODAL.confirm' |
              translate}}</span
            >
          </button>
        </ion-col>
      </ion-row>
    </form> -->
  </div>
</ion-content>
