<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title color="light" [innerHTML]="mill_name"></ion-title>

    <ion-buttons slot="primary">
      <ion-button class="bg-light-color" (click)="callmodalcontroller('')">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="myCard">
    <img class="backgroundimage" src="../../../assets/img/header_myPalm.png" />
    <div class="myOverlay">
      <div class="usermessagecard">
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 16px; font-weight: bold; margin: 0px">
              {{ 'MAINTENANCEDASHBOARD.welcome' | translate}} {{userlist.name}}
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div #myElementRef class="home-box">
    <!-- Mill Production Status - Start -->
    <div class="titleheader" *ngIf="productionflag!=''">
      <div class="col">
        <div class="title text-uppercase">
          {{ 'MAINTENANCEDASHBOARD.millproductionstatus' | translate}}
        </div>
      </div>
    </div>

    <div class="checkcard" *ngIf="productionflag!=''">
      <ion-row>
        <ion-col style="display: grid; justify-content: center">
          <div
            class="productionstatustitleheader"
            [style.backgroundColor]="getProductionStatusBackGroundColor(productionflag)"
          >
            <div class="productionstatustitle text-uppercase">
              {{txt_millproductionstatus}}
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="text-align: center">
          <p class="mdfont">{{txt_millstart}}</p>
          <p
            class="mdfont"
            style="color: #008000"
            *ngIf="millstartdatetime != ''"
          >
            {{millstartdatetime}}
          </p>

          <p
            class="mdfont"
            style="color: #008000"
            *ngIf="millstartdatetime == ''"
          >
            -
          </p>
        </ion-col>

        <ion-col style="text-align: center">
          <p class="mdfont">{{txt_millstop}}</p>
          <p
            class="mdfont"
            style="color: #cb4335"
            *ngIf="millstopdatetime != ''"
          >
            {{millstopdatetime}}
          </p>

          <p
            class="mdfont"
            style="color: #cb4335"
            *ngIf="millstopdatetime == ''"
          >
            -
          </p>
        </ion-col>
      </ion-row>
    </div>
    <!-- Mill Production Status - End -->

    <!-- Grading Analysis - Start -->
    <div class="titleheader" style="margin-top: 20px">
      <div class="col">
        <div class="title text-uppercase">
          {{ 'MANAGERDASHBOARD.gradinganalysis' | translate}}
        </div>
      </div>
    </div>

    <div class="checkcard">
      <ion-row>
        <ion-card
          *ngFor="let item of gradingArr; let i = index"
          [ngClass]="{'gradingevencard' : (i%2 == 0), 'gradingoddcard' : (i%2 != 0)}"
          [style.background]="getGradingBackGroundColor(item.position)"
          [style.borderColor]="geBorderColor(item.position)"
        >
          <ion-row class="ion-text-center">
            <ion-col no-padding size="8.75" style="align-self: center">
              <div class="gradingcardtitle">{{item.title}}</div>
              <div class="gradingcardvalue">{{item.value}}</div>
            </ion-col>

            <ion-col no-padding size="0.5" style="align-self: center">
              <div class="vl4line"></div>
            </ion-col>

            <ion-col no-padding size="2.75" style="align-self: center">
              <img src="../../../assets/img/grading.png" />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </div>
    <!-- Grading Analysis - End -->

    <!-- Prediction Analysis - Start -->
    <div class="titleheader" style="margin-top: 20px">
      <div class="col">
        <div class="title text-uppercase">
          {{ 'MANAGERDASHBOARD.predictionanalysis' | translate}}
        </div>
      </div>
    </div>

    <div class="checkcard">
      <ion-row>
        <ion-card
          *ngFor="let item of oillossArr; let i = index"
          [ngClass]="{'gradingevencard' : (i%2 == 0), 'gradingoddcard' : (i%2 != 0)}"
          [style.background]="getOillossBackGroundColor(item.position)"
          [style.borderColor]="geBorderColor(item.position)"
        >
          <ion-row class="ion-text-center">
            <ion-col no-padding size="8.75" style="align-self: center">
              <div class="gradingcardtitle">{{item.title}}</div>
              <div class="gradingcardvalue">{{item.value}}</div>
            </ion-col>

            <ion-col no-padding size="0.5" style="align-self: center">
              <div class="vl4line"></div>
            </ion-col>

            <ion-col no-padding size="2.75" style="align-self: center">
              <img src="../../../assets/img/oilloss.png" />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </div>
    <!-- Prediction Analysis - End -->

    <!-- Maintenance Summary - Start -->
    <div class="titleheader" style="margin-top: 20px">
      <div class="col">
        <div class="title text-uppercase">
          {{ 'MANAGERDASHBOARD.maintenancesummary' | translate}}
        </div>
      </div>
    </div>

    <div class="checkcard">
      <ion-row>
        <ion-card
          *ngFor="let item of maintenancesummaryArr; let i = index"
          [ngClass]="{'gradingevencard' : (i%2 == 0), 'gradingoddcard' : (i%2 != 0)}"
          [style.background]="getMaintenanceSummaryBackGroundColor(item.position)"
          [style.borderColor]="geBorderColor(item.position)"
        >
          <ion-row class="ion-text-center">
            <ion-col no-padding size="8.75" style="align-self: center">
              <div class="gradingcardtitle">{{item.title}}</div>
              <div class="gradingcardvalue">{{item.value}}</div>
            </ion-col>

            <ion-col no-padding size="0.5" style="align-self: center">
              <div class="vl4line"></div>
            </ion-col>

            <ion-col no-padding size="2.75" style="align-self: center">
              <img src="../../../assets/img/machineryrunninghours.png" />
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </div>
    <!-- Maintenance Summary - End -->
  </div>

  <div class="pleasewait" *ngIf="pleasewaitflag">
    <div style="width: 100%; text-align: center">
      <img
        style="width: 80px; height: 80px"
        src="../../../assets/img/loading.gif"
      />
    </div>
    {{ 'NORECORDSFOUND.loading' | translate}}
  </div>
</ion-content>
