<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        color="whitefav"
        *ngIf="!isReplacementFlag"
      ></ion-back-button>

      <ion-button
        color="whitefav"
        *ngIf="isReplacementFlag"
        (click)="goBack();"
        style="font-size: 17px"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" color="light"
      >{{ 'PREVENTIVEMAINTENANCE.title' | translate}}</ion-title
    >
  </ion-toolbar>

  <ion-toolbar>
    <div class="firstsegment">
      <ion-segment
        (ionChange)="segmentChanged($event)"
        [(ngModel)]="tabs_segment"
      >
        <ion-segment-button value="Routine">
          <ion-label text-wrap class="h7"
            >{{ 'PREVENTIVEMAINTENANCE.routine' | translate}}</ion-label
          >
        </ion-segment-button>

        <ion-segment-button value="Replacement">
          <ion-label text-wrap class="h7"
            >{{ 'PREVENTIVEMAINTENANCE.replacement' | translate}}</ion-label
          >
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-box">
    <!-- <ion-row
      style="margin-top: 5px; margin-bottom: 5px"
      *ngIf="!isReplacementFlag"
    >
      <ion-col style="text-align: right">
        <button
          type="submit"
          class="btn btn-replacement"
          (click)="btn_replacement()"
        >
          <span class="icontext" style="color: #ffffff">
            {{ 'PREVENTIVEMAINTENANCE.replacementpreventivemaintenance' |
            translate}}
          </span>
        </button>
      </ion-col>
    </ion-row> -->

    <div [ngSwitch]="tabs_segment">
      <div *ngSwitchCase="'Routine'">
        <form [formGroup]="routineForm">
          <ion-row>
            <ion-col size="1.6" style="align-self: center" no-padding>
              <div class="h7 text-white">
                <b>{{ 'PREVENTIVEMAINTENANCE.fromdate' | translate}}</b>
              </div>
            </ion-col>

            <ion-col size="3.45">
              <input
                type="text"
                class="h7 form-control readonly"
                formControlName="txt_fromdate"
                placeholder="DD-MM-YYYY"
                (click)="openRoutFromDateTimePicker()"
                readonly
              />
            </ion-col>

            <ion-col size="1" style="align-self: center" no-padding>
              <div class="h7 text-white">
                <b>{{ 'PREVENTIVEMAINTENANCE.todate' | translate}}</b>
              </div>
            </ion-col>

            <ion-col size="3.45">
              <input
                type="text"
                class="h7 form-control readonly"
                formControlName="txt_todate"
                placeholder="DD-MM-YYYY"
                (click)="openRoutToDateTimePicker()"
                readonly
              />
            </ion-col>

            <ion-col size="2.5">
              <button
                type="button"
                class="h7 btn btn-general btn-sm float-right"
                style="height: 31px; width: 100%"
                (click)="getRoutineNotification()"
              >
                {{ 'GENERALBUTTON.getrecords' | translate}}
              </button>
            </ion-col>
          </ion-row>

          <hr />
        </form>

        <div *ngIf="routinenotificationlistArr.length>0">
          <div style="overflow-x: auto">
            <table
              style="width: 100%; height: 100%"
              class="table table-bordered"
            >
              <tr class="table_head">
                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.datetime' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.notificationid' |
                    translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.station' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.machine' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.assignedto' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.status' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.detail' | translate}}</span
                  >
                </th>
              </tr>

              <ng-container *ngFor="let value of routinenotificationlistArr">
                <tr>
                  <td scope="row">{{value.insDate}}</td>

                  <td scope="row">{{value.notificationno}}</td>

                  <td scope="row">{{value.stationname}}</td>

                  <td scope="row">{{value.equipment}}</td>

                  <td scope="row" *ngIf="value.carriedoutby!=''">
                    {{value.carriedoutby}}
                  </td>
                  <td scope="row" *ngIf="value.carriedoutby==''">-</td>

                  <td
                    scope="row"
                    [style.background-color]="getStatusTextColor(value.statusId)"
                  >
                    {{value.statusname}}
                  </td>

                  <td scope="row">
                    <button
                      type="button"
                      class="h7 btn btn-viewnotificationform btn-sm"
                      (click)="callmodalcontroller(value)"
                    >
                      <span class="icontext"
                        >{{ 'GENERALBUTTON.viewbutton' | translate}}</span
                      >
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <div class="norecords" *ngIf="norecordroutineenableflag">
          {{ 'NORECORDSFOUND.norecordsfound' | translate}}
        </div>

        <div class="pleasewait" *ngIf="pleasewaitflag">
          <div style="width: 100%; text-align: center">
            <img
              style="width: 80px; height: 80px"
              src="../../../assets/img/loading.gif"
            />
          </div>
          {{ 'NORECORDSFOUND.loading' | translate}}
        </div>
      </div>

      <div *ngSwitchCase="'Replacement'">
        <form [formGroup]="replacementForm">
          <ion-row>
            <ion-col size="1.6" style="align-self: center" no-padding>
              <div class="h7 text-white">
                <b>{{ 'PREVENTIVEMAINTENANCE.fromdate' | translate}}</b>
              </div>
            </ion-col>

            <ion-col size="3.45">
              <input
                type="text"
                class="h7 form-control readonly"
                formControlName="txt_fromdate"
                placeholder="DD-MM-YYYY"
                (click)="openReplFromDateTimePicker()"
                readonly
              />
            </ion-col>

            <ion-col size="1" style="align-self: center" no-padding>
              <div class="h7 text-white">
                <b>{{ 'PREVENTIVEMAINTENANCE.todate' | translate}}</b>
              </div>
            </ion-col>

            <ion-col size="3.45">
              <input
                type="text"
                class="h7 form-control readonly"
                formControlName="txt_todate"
                placeholder="DD-MM-YYYY"
                (click)="openReplToDateTimePicker()"
                readonly
              />
            </ion-col>

            <ion-col size="2.5">
              <button
                type="button"
                class="h7 btn btn-general btn-sm float-right"
                style="height: 31px; width: 100%"
                (click)="getReplacementNotification()"
              >
                {{ 'GENERALBUTTON.getrecords' | translate}}
              </button>
            </ion-col>
          </ion-row>

          <hr />
        </form>

        <div *ngIf="replacementnotificationlistArr.length>0">
          <div style="overflow-x: auto">
            <table
              style="width: 100%; height: 100%"
              class="table table-bordered"
            >
              <tr class="table_head">
                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.datetime' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.notificationid' |
                    translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.station' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.machine' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.assignedto' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.status' | translate}}</span
                  >
                </th>

                <th
                  colspan="1"
                  scope="colgroup"
                  style="padding: 4px !important"
                >
                  <span class="mdfont"
                    >{{ 'PREVENTIVEMAINTENANCE.detail' | translate}}</span
                  >
                </th>
              </tr>

              <ng-container
                *ngFor="let value of replacementnotificationlistArr"
              >
                <tr>
                  <td scope="row">{{value.insDate}}</td>

                  <td scope="row">{{value.notificationno}}</td>

                  <td scope="row">{{value.stationname}}</td>

                  <td scope="row">{{value.equipment}}</td>

                  <td scope="row" *ngIf="value.carriedoutby!=''">
                    {{value.carriedoutby}}
                  </td>
                  <td scope="row" *ngIf="value.carriedoutby==''">-</td>

                  <td
                    scope="row"
                    [style.background-color]="getStatusTextColor(value.statusId)"
                  >
                    {{value.statusname}}
                  </td>

                  <td scope="row">
                    <button
                      type="button"
                      class="h7 btn btn-viewnotificationform btn-sm"
                      (click)="callmodalcontroller(value)"
                    >
                      <span class="icontext"
                        >{{ 'GENERALBUTTON.viewbutton' | translate}}</span
                      >
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <div class="norecords" *ngIf="norecordreplacementenableflag">
          {{ 'NORECORDSFOUND.norecordsfound' | translate}}
        </div>

        <div class="pleasewait" *ngIf="pleasewaitflag">
          <div style="width: 100%; text-align: center">
            <img
              style="width: 80px; height: 80px"
              src="../../../assets/img/loading.gif"
            />
          </div>
          {{ 'NORECORDSFOUND.loading' | translate}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
