<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-buttons slot="start" mode="md">
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>

    <ion-title color="light" mode="ios"
      >{{ 'QRCODESCANNER.qrcodescanner' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="maintitleheader">
    <div class="col">
      <div class="maintitle">{{ 'QRCODESCANNER.message' | translate}}</div>
    </div>
  </div>

  <div class="content">
    <div style="display: flex; justify-content: space-evenly">
      <div class="qrcodecard">
        <img src="../../../assets/img/qrcode.png" />
      </div>
    </div>

    <ion-row style="margin-top: 10px">
      <ion-col style="text-align: center !important" no-padding>
        <button type="submit" class="btn btn-scan" (click)="scanqrcode()">
          <span class="icontext" style="color: #ffffff"
            >{{ 'QRCODESCANNER.scan' | translate}}</span
          >
        </button>
      </ion-col>
    </ion-row>
  </div>
  <!-- Displays during the click of scanner tab --- End -->
</ion-content>
