<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar
      slot="start"
      *ngIf="designationid != 1 && designationid != 12 && designationid != 13 && designationid != 14"
    >
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>
    <ion-title
      color="light"
      [innerHTML]="mill_name"
      *ngIf="designationid != 1 && designationid != 12 && designationid != 13 && designationid != 14"
    ></ion-title>

    <ion-buttons
      slot="start"
      mode="md"
      *ngIf="designationid == 1 || designationid == 12 || designationid == 13 || designationid == 14"
    >
      <ion-back-button color="whitefav"></ion-back-button>
    </ion-buttons>

    <ion-title
      color="light"
      mode="ios"
      *ngIf="designationid == 1 || designationid == 12 || designationid == 13 || designationid == 14"
      >Profile</ion-title
    >

    <ion-buttons slot="end">
      <ion-button (click)="openLanguagePopOver($event)">
        <ion-icon name="ellipsis-vertical-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row profile" #myElementRef>
    <div class="col-12">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic" *ngIf="imagePaths.profileimagepath == ''">
          <img
            src="../../assets/img/supervisorreport.png"
            class="img-responsive"
            alt=""
          />
        </div>

        <div class="profile-userpic" *ngIf="imagePaths.profileimagepath != ''">
          <img
            [src]="imagePaths.profileimagepath"
            onerror="this.src='../../assets/img/noimageavailable.png'"
            class="img-responsive"
            alt=""
          />
        </div>

        <div class="editprofile-title" (click)="attachmentfromLibrary()">
          {{ 'MORE.updatepofile' | translate}}
        </div>

        <div class="profile-usertitle" *ngIf="userlist">
          <div class="profile-usertitle-name">{{userlist.name}}</div>
          <div class="profile-usertitle-job">{{designation}}</div>
        </div>

        <div class="hl4line"></div>
      </div>
    </div>

    <div class="col-12">
      <div class="profile-content">
        <div
          style="text-align: center; padding: 20px"
          (click)="menu_action('changepassword')"
        >
          <div class="changepasswordbg">
            <ion-icon
              class="icon"
              color="light"
              name="lock-closed-outline"
            ></ion-icon>
            <span class="icontext" style="color: #ffffff">
              {{ 'MORE.changepassword' | translate}}</span
            >
          </div>
        </div>

        <div
          style="text-align: center; padding: 0px 20px 20px 20px"
          (click)="menu_action('logout')"
        >
          <div class="logoutbg">
            <ion-icon class="logouticon" name="log-out-outline"></ion-icon>
            <span class="icontext" style="color: #ff9f0c; font-weight: bold">
              {{ 'MORE.logout' | translate}}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="center_powerd">{{ 'MORE.poweredby' | translate}}</div>

  <div class="center_powerd" style="margin-top: 10px">
    <a href="https://airei.com.my" target="_blank">
      <img
        style="width: 200px; border-radius: 5px"
        src="../../assets/img/airei_logo_white.png"
        alt="COMPANY"
    /></a>
  </div>

  <!-- Chatbot - Start -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    *ngIf="userlist.chatbotflag == 1"
  >
    <ion-fab-button size="large" (click)="chatbot()">
      <img
        style="width: 40px; height: 40px"
        src="../../assets/img/chatbotimg.png"
      />
    </ion-fab-button>
  </ion-fab>
  <!-- Chatbot - End -->
</ion-content>
