<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title mode="md" color="light">
      <div class="ion-text-wrap">Update Net Weight</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <form class="home-box" [formGroup]="weighbridgeForm">
      <ion-row class="form-row">
        <ion-col size="5.5">
          <div class="title">Net Weight (MT)</div>
        </ion-col>

        <ion-col size="0.5" style="text-align: center">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>

        <ion-col size="6">
          <input
            type="number"
            class="h7 form-control"
            formControlName="txt_netweight"
            placeholder="Enter"
            (keypress)="decimalFilter($event)"
          />
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 20px">
        <ion-col
          style="
            align-self: center;
            text-align: center;
            padding: 0px;
            margin: 0px;
          "
        >
          <button class="cancelbutton" (click)="cancel()"></button>
        </ion-col>

        <ion-col
          style="
            align-self: center;
            text-align: center;
            padding: 0px;
            margin: 0px;
          "
        >
          <button class="okaybutton" (click)="save()"></button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
