<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-title mode="md" color="light">
      <div class="ion-text-wrap">{{ 'FFBCAGES.title' | translate}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <form class="home-box" [formGroup]="ffbcageForm">
      <div class="form-row" style="margin-top: 10px">
        <div class="col">
          <div class="h7 text-dark">{{ 'FFBCAGES.inuse' | translate}}</div>
        </div>

        <div class="col">
          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'FFBCAGES.enter' | translate}}"
            formControlName="txt_ffbcageinuse"
            (keypress)="numberFilter($event)"
          />
        </div>
      </div>

      <div class="form-row" style="margin-top: 10px">
        <div class="col">
          <div class="h7 text-dark">{{ 'FFBCAGES.notinuse' | translate}}</div>
        </div>

        <div class="col">
          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'FFBCAGES.enter' | translate}}"
            formControlName="txt_ffbcagenotinuse"
            (keypress)="numberFilter($event)"
          />
        </div>
      </div>

      <div class="form-row" style="margin-top: 10px">
        <div class="col">
          <div class="h7 text-dark">
            {{ 'FFBCAGES.underrepair' | translate}}
          </div>
        </div>

        <div class="col">
          <input
            type="number"
            class="h7 form-control text-dark"
            placeholder="{{ 'FFBCAGES.enter' | translate}}"
            formControlName="txt_ffbcageunderipe"
            (keypress)="numberFilter($event)"
          />
        </div>
      </div>

      <ion-row style="margin-top: 20px">
        <ion-col
          style="
            align-self: center;
            text-align: center;
            padding: 0px;
            margin: 0px;
          "
        >
          <button class="cancelbutton" (click)="cancel()"></button>
        </ion-col>

        <ion-col
          style="
            align-self: center;
            text-align: center;
            padding: 0px;
            margin: 0px;
          "
        >
          <button class="okaybutton" (click)="save()"></button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
