ion-content {
  --ion-background-color: #ffffff;
}

.home-box {
  padding: 0px 10px 10px 10px;
}

form {
  padding: 5px;
}

.form-row {
  margin: 5px;
  align-items: center;
}

.item-inner {
  border-style: unset !important;
}

.multipleparts {
  table {
    margin-bottom: 0px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 11px;
    line-height: 1.42857143;
    padding: 5px;
    background-color: #1d2730;
    border-collapse: collapse;
  }

  .table th {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    padding: 0.3rem !important;
  }

  .table td {
    text-align: left;
    vertical-align: middle;
    color: #ffffff;
    padding: 0.3rem !important;
  }

  .table_head {
    background-color: #ff9f0c;
    color: #000000;
    text-align: center;
    vertical-align: middle;
  }

  .head {
    color: #000000;
    font-weight: normal;
  }
}

table {
  margin-top: 10px;
  font-size: 11px;
  line-height: 1.42857143;
  padding: 5px;
  background-color: #1d2730;
  border-collapse: collapse;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  padding: 0.3rem !important;
}

.table_head {
  //background-color: #cacccb;
  background-color: #3cd2a5;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.data {
  background-color: #f4fbf9;
  color: #000000 !important;
}

.blockdata {
  color: #000000 !important;
}

.logoimg {
  width: 50px;
}

.statusimg {
  width: 30px;
}

.titleheader {
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: #1d2730;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}

.tasktitleheader {
  border-radius: 5px;
  text-align: center;
  background-color: #1d2730;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}

.title {
  color: #ff9f0c;
  //color: #ffffff;
}

.notificationcard {
  //border-color: white;
  border: 1px solid #1d2730;
  background-color: #f4fbf9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px 0px 5px 5px; /* 5px rounded corners */
  padding: 5px 5px 5px 0px;
}

.imagePreview {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background: url("../../../assets/img/noimage.png");
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePresent {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-position: center center;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  width: 150px;
  font-size: 12px;
}

.btn-success {
  width: 150px;
  height: 40px;
  font-size: 14px;
  background-color: #1d2730;
  border-radius: 40px;
  border: 0.5px solid #3cd2a5;
}

.btn-success:active,
.btn-success:hover,
.btn-success:focus {
  width: 150px;
  height: 40px;
  font-size: 14px;
  background-color: #1d2730 !important;
  border-radius: 40px;
  border: 0.5px solid #3cd2a5 !important;
}

.btn-warning {
  width: 150px;
  font-size: 12px;
}

.btn-upload {
  margin-top: -5px;
  display: block;
  border-radius: 0px;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.ion-text-end {
  float: right;
}

.bg-yellow {
  background-color: #474747;
  padding: 10px;
}

.form-row {
  align-items: center;
}

ion-select::part(placeholder) {
  opacity: 1;
}

.imgmarigin {
  margin-left: 10px;
}

.userfont {
  font-size: 12px;
}

.usertext {
  color: #ffffff;
}

.nopadding {
  padding-right: 6px !important;
}

hr {
  display: block;
  height: 1px;
  padding: 5px;
  border-top: 1px solid #c2c2c2;
}

sup {
  color: red;
}

ion-checkbox.checkbox-disabled {
  opacity: 1;
}
