<ion-header>
  <ion-toolbar class="bg-brown-color modaltoolbar">
    <ion-title mode="ios" color="light">{{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button class="bg-light-color" (click)="btn_close()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <form [formGroup]="assignForm">
    <ion-row class="form-row" *ngIf="getstationid!=''">
      <ion-col size="5.5">
        <div class="title">
          {{'PREVENTIVEMAINTENANCEASSIGN.station' | translate}}
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="title">
          <b>:</b>
        </div>
      </ion-col>
      <ion-col size="6" style="text-align: left">
        <div class="viewtitle"><b>{{getstationname}}</b></div>
      </ion-col>
    </ion-row>

    <ion-row class="form-row" *ngIf="getmachineid!=''">
      <ion-col size="5.5">
        <div class="title">
          {{'PREVENTIVEMAINTENANCEASSIGN.machine' | translate}}
        </div>
      </ion-col>

      <ion-col size="0.5" style="text-align: right">
        <div class="title">
          <b>:</b>
        </div>
      </ion-col>

      <ion-col size="6" style="text-align: left">
        <div class="viewtitle"><b>{{getmachinename}}</b></div>
      </ion-col>
    </ion-row>

    <div style="margin-top: 10px">
      <ion-row class="form-row">
        <ion-col size="5.5">
          <div class="title">
            {{'PREVENTIVEMAINTENANCEASSIGN.partname' | translate}}
          </div>
        </ion-col>

        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>

        <ion-col size="6" style="text-align: initial">
          <ion-button class="optionbutton" (click)="openParts()"
            >{{'PREVENTIVEMAINTENANCEASSIGN.select' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- <div class="hl4line" *ngIf="partvalue==''"></div> -->

      <div
        class="selecteddata"
        style="text-align: center"
        *ngIf="partvalue!=''"
        [innerHTML]="partvalue"
      ></div>

      <!-- <div class="hl4line" *ngIf="partvalue!=''"></div> -->

      <ion-select
        mode="md"
        [interfaceOptions]="partsOptions"
        formControlName="select_parts"
        multiple="true"
        [okText]="'GENERALBUTTON.okay' | translate"
        [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
        class="ionicselect"
        (ionChange)="partshandleChange($event)"
        #partsSelect
      >
        <ion-select-option
          value="{{parseString(value)}}"
          *ngFor="let value of multipartsArr; let i = index"
          >{{ value.partname }}</ion-select-option
        >
      </ion-select>
    </div>

    <div style="margin-top: 10px">
      <ion-row class="form-row">
        <ion-col size="5.5">
          <div class="title">
            {{'PREVENTIVEMAINTENANCEASSIGN.assignto' | translate}}
          </div>
        </ion-col>

        <ion-col size="0.5" style="text-align: right">
          <div class="title">
            <b>:</b>
          </div>
        </ion-col>

        <ion-col size="6" style="text-align: initial">
          <ion-button class="optionbutton" (click)="openAssignedTo()"
            >{{'PREVENTIVEMAINTENANCEASSIGN.select' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- <div class="hl4line" *ngIf="assignedtovalue==''"></div> -->

      <div
        class="selecteddata"
        style="text-align: center"
        *ngIf="assignedtovalue!=''"
        [innerHTML]="assignedtovalue"
      ></div>

      <!-- <div class="hl4line" *ngIf="assignedtovalue!=''"></div> -->

      <ion-select
        mode="md"
        [interfaceOptions]="assignedtoOptions"
        formControlName="select_assignedto"
        multiple="true"
        [okText]="'GENERALBUTTON.okay' | translate"
        [cancelText]="'GENERALBUTTON.cancelbutton' | translate"
        class="ionicselect"
        (ionChange)="assignedtohandleChange($event)"
        #assignedtoSelect
      >
        <ion-select-option
          value="{{parseString(value)}}"
          *ngFor="let value of assignedtoArr; let i = index"
          >{{ value.name }}</ion-select-option
        >
      </ion-select>
    </div>

    <!-- RePM - Start -->
    <!-- Activity -->
    <div style="margin-top: 10px">
      <ion-row class="form-row">
        <ion-col size="3.5">
          <div class="title">
            {{ 'PREVENTIVEMAINTENANCEASSIGN.activity' | translate}}
          </div>
        </ion-col>

        <ion-col size="8.5">
          <ion-row class="conditionradiobutton">
            <ion-col>
              <ion-row>
                <ion-col size="6" style="text-align: right; padding: 0px">
                  <input
                    type="radio"
                    id="radio_replaced"
                    name="radio_conditionoption"
                    value="Replaced"
                    (change)="onConditionActivityChange('Replaced')"
                    [checked]="replacedFlag"
                  />
                  <label for="radio_replaced"
                    >{{ 'MAINTENANCEACCEPTMODAL.replaced' | translate}}</label
                  >
                </ion-col>

                <ion-col size="6" style="text-align: right; padding: 0px">
                  <input
                    type="radio"
                    id="radio_serviced"
                    name="radio_conditionoption"
                    value="Serviced"
                    (change)="onConditionActivityChange('Serviced')"
                    [checked]="servicedFlag"
                  />
                  <label for="radio_serviced"
                    >{{ 'MAINTENANCEACCEPTMODAL.serviced' | translate}}
                  </label>
                </ion-col>
              </ion-row>
              <div></div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <div
        *ngIf="enableFlag && extendrunninghoursFlag=='1'"
        style="margin-bottom: 20px"
      >
        <div class="hl4line"></div>
        <!-- Life Time Hours -->
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{'PREVENTIVEMAINTENANCEASSIGN.lifetimehours' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: right">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" style="text-align: left">
            <div class="viewtitle"><b>{{lifetimerunninghours}} Hrs</b></div>
          </ion-col>
        </ion-row>

        <!-- Current Running Hours -->
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{'PREVENTIVEMAINTENANCEASSIGN.currentrunninghours' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: right">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" style="text-align: left">
            <div class="viewtitle"><b>{{currentrunninghours}} Hrs</b></div>
          </ion-col>
        </ion-row>

        <!-- Extend Life Time Hours -->
        <ion-row class="form-row">
          <ion-col size="4.5">
            <div class="title">
              {{'PREVENTIVEMAINTENANCEASSIGN.extendhours' | translate}}
            </div>
          </ion-col>

          <ion-col size="0.5" style="text-align: right">
            <div class="title">
              <b>:</b>
            </div>
          </ion-col>

          <ion-col size="7" style="text-align: left">
            <input
              type="number"
              class="h7 form-control"
              formControlName="txt_extendlifetimehours"
              placeholder="{{ 'PREVENTIVEMAINTENANCEASSIGN.extendhoursenter' | translate}}"
              (keypress)="numberFilter($event)"
            />
          </ion-col>
        </ion-row>
        <div class="hl4line"></div>
      </div>
    </div>
    <!-- RePM - Stop -->

    <ion-row style="margin-top: 10px">
      <ion-col style="text-align: center !important" no-padding>
        <button
          type="submit"
          class="btn btn-next"
          [disabled]="confirmDisable"
          (click)="savealert()"
        >
          <span class="icontext" style="color: #ffffff"
            >{{'PREVENTIVEMAINTENANCEASSIGN.save' | translate}}</span
          >
        </button>
      </ion-col>
    </ion-row>
  </form>

  <div class="pleasewait" *ngIf="pleasewaitflag">
    <div style="width: 100%; text-align: center">
      <img
        style="width: 80px; height: 80px"
        src="../../../assets/img/loading.gif"
      />
    </div>
    {{ 'NORECORDSFOUND.pleasewait' | translate}}
  </div>
</ion-content>
