<ion-header>
  <ion-toolbar class="bg-brown-color">
    <ion-avatar slot="start">
      <ion-img
        class="toolbarimage"
        src="../../../assets/img/logo.png"
      ></ion-img>
    </ion-avatar>

    <ion-title color="light" [innerHTML]="mill_name"></ion-title>

    <ion-buttons slot="primary">
      <!-- <ion-button class="bg-light-color" (click)="btn_notification()">
        <ion-badge *ngIf="count && count != 0" color="accent"
          >{{ count }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button> -->

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'android'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'twodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button
        class="bg-light-color"
        (click)="btn_notification()"
        *ngIf="getplatform == 'ios'"
      >
        <ion-badge
          class="badgeblink"
          [ngClass]="{'onedigitbadgecount' : pendingcountlength == 1, 'iostwodigitbadgecount' : pendingcountlength >= 2}"
          *ngIf="pendingcount && pendingcount != 0"
          >{{ pendingcount }}</ion-badge
        >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-box" *ngIf="designationid==3">
    <ion-buttons *ngIf="todaysnotificationArr.length > 0">
      <button
        type="submit"
        class="btn alertcheckcard"
        (click)="gettodaysnotification()"
      >
        {{ 'SEGREGATENOTIFICATION.current' | translate}} - {{currentdate}}
        <ion-badge class="todaybadge" *ngIf="todaysnotificationcount != 0"
          >{{todaysnotificationcount}}</ion-badge
        >
      </button>
    </ion-buttons>

    <div *ngIf="todaysnotificationflag">
      <ion-card
        class="alertcard"
        *ngFor="let value of todaysnotificationArr"
        [style.backgroundColor]="getBackgroundColor(value.type)"
        [style.borderColor]="geBorderColor(value.type)"
      >
        <ion-card-header
          [style.backgroundColor]="geBorderColor(value.type)"
          [style.color]="getTextColor(value.type)"
        >
          <div class="form-row">
            <div class="col">
              <div class="h6" style="float: left">
                <b>{{value.title}}</b>
              </div>
            </div>

            <div class="col">
              <div class="h6" style="float: right">
                <b>{{value.notification_date}}</b>
              </div>
            </div>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-row class="marigin-10px row-reverse">
            <ion-col>
              <div
                class="h7 text-dark"
                [innerHTML]="value.notification_text"
              ></div>

              <div
                class="h7 text-dark"
                style="margin-top: 10px"
                *ngIf="value.rectify_remarks!=''"
              >
                <b>Remarks : </b>{{value.rectify_remarks}}
              </div>

              <div
                *ngIf="designationid==3"
                style="text-align: right; margin-top: 10px"
              >
                <!-- <button
                type="button"
                class="h7 btn btn-acknowledge btn-sm float-right"
                (click)="callmodalcontroller(value)"
              >
                {{ 'SEGREGATENOTIFICATION.acknowledge' | translate}}
              </button> -->

                <div *ngIf="value.rectify_status!=0">
                  <button
                    type="button"
                    class="h7 btn btn-read btn-sm float-right"
                    (click)="updateAlertNotification(value)"
                  >
                    {{ 'SEGREGATENOTIFICATION.read' | translate}}
                  </button>
                </div>

                <div *ngIf="value.rectify_status==0">
                  <button
                    type="submit"
                    [disabled]="isDisable"
                    class="btn btn-attendrectify"
                    (click)="btn_rectify(value)"
                  >
                    {{ 'ALERTACKNOWLEDGE.attendandrectify' | translate}}
                  </button>

                  <button
                    type="submit"
                    [disabled]="isDisable"
                    class="btn btn-unabletorectify"
                    (click)="btn_notrectify(value)"
                  >
                    {{ 'ALERTACKNOWLEDGE.unabletorectify' | translate}}
                  </button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <hr *ngIf="todaysnotificationArr.length > 0" />

    <ion-buttons *ngIf="oldernotificationArr.length > 0">
      <button
        type="submit"
        class="btn alertcheckcard"
        (click)="getoldernotification()"
      >
        {{ 'SEGREGATENOTIFICATION.previous' | translate}}
        <ion-badge class="olderbadge" *ngIf="oldernotificationcount != 0"
          >{{oldernotificationcount}}</ion-badge
        >
      </button>
    </ion-buttons>

    <div *ngIf="oldernotificationflag">
      <ion-card
        class="alertcard"
        *ngFor="let value of oldernotificationArr"
        [style.backgroundColor]="getBackgroundColor(value.type)"
        [style.borderColor]="geBorderColor(value.type)"
      >
        <ion-card-header
          [style.backgroundColor]="geBorderColor(value.type)"
          [style.color]="getTextColor(value.type)"
        >
          <div class="form-row">
            <div class="col">
              <div class="h6" style="float: left">
                <b>{{value.title}}</b>
              </div>
            </div>

            <div class="col">
              <div class="h6" style="float: right">
                <b>{{value.notification_date}}</b>
              </div>
            </div>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-row class="marigin-10px row-reverse">
            <ion-col>
              <div
                class="h7 text-dark"
                [innerHTML]="value.notification_text"
              ></div>

              <div
                *ngIf="designationid==3"
                style="text-align: right; margin-top: 10px"
              >
                <!-- <button
                  type="button"
                  class="h7 btn btn-acknowledge btn-sm float-right"
                  (click)="callmodalcontroller(value)"
                >
                  {{ 'SEGREGATENOTIFICATION.acknowledge' | translate}}
                </button> -->

                <div *ngIf="value.rectify_status!=0">
                  <button
                    type="button"
                    class="h7 btn btn-read btn-sm float-right"
                    (click)="updateAlertNotification(value)"
                  >
                    {{ 'SEGREGATENOTIFICATION.read' | translate}}
                  </button>
                </div>

                <div *ngIf="value.rectify_status==0">
                  <button
                    type="submit"
                    [disabled]="isDisable"
                    class="btn btn-attendrectify"
                    (click)="btn_rectify(value)"
                  >
                    {{ 'ALERTACKNOWLEDGE.attendandrectify' | translate}}
                  </button>

                  <button
                    type="submit"
                    [disabled]="isDisable"
                    class="btn btn-unabletorectify"
                    (click)="btn_notrectify(value)"
                  >
                    {{ 'ALERTACKNOWLEDGE.unabletorectify' | translate}}
                  </button>
                </div>
              </div>

              <div>
                <button
                  type="button"
                  class="h7 btn btn-read btn-sm float-right"
                  *ngIf="(designationid==7 || designationid==8)"
                  (click)="updateAlertNotification(value)"
                >
                  {{ 'SEGREGATENOTIFICATION.read' | translate}}
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="norecords" *ngIf="enableflag==true">
      {{ 'NORECORDSFOUND.norecordsfound' | translate}}
    </div>
  </div>

  <div class="home-box" *ngIf="designationid==7 || designationid==8">
    <ion-buttons *ngIf="todaysnotificationArr.length > 0">
      <button
        type="submit"
        class="btn alertcheckcard"
        (click)="gettodaysnotification()"
      >
        {{ 'SEGREGATENOTIFICATION.current' | translate}} - {{currentdate}}
        <ion-badge class="todaybadge" *ngIf="todaysnotificationcount != 0"
          >{{todaysnotificationcount}}</ion-badge
        >
      </button>
    </ion-buttons>

    <div *ngIf="todaysnotificationflag">
      <div
        class="card marigin-10px"
        *ngFor="let value of todaysnotificationArr"
      >
        <ion-row class="marigin-10px row-reverse">
          <ion-col>
            <div class="h7" style="float: right; color: #ff9f0c">
              <b>{{value.notification_date}}</b>
            </div>
            <div class="h6 text-dark"><b>{{value.title}}</b></div>
            <div class="h7 text-dark">{{value.notification_text}}</div>
            <div>
              <button
                type="button"
                class="h7 btn btn-read btn-sm float-right"
                (click)="updateAlertNotification(value)"
              >
                {{ 'SEGREGATENOTIFICATION.read' | translate}}
              </button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <hr *ngIf="todaysnotificationArr.length > 0" />

    <ion-buttons *ngIf="oldernotificationArr.length > 0">
      <button
        type="submit"
        class="btn alertcheckcard"
        (click)="getoldernotification()"
      >
        {{ 'SEGREGATENOTIFICATION.previous' | translate}}
        <ion-badge class="olderbadge" *ngIf="oldernotificationcount != 0"
          >{{oldernotificationcount}}</ion-badge
        >
      </button>
    </ion-buttons>

    <div *ngIf="oldernotificationflag">
      <div class="card marigin-10px" *ngFor="let value of oldernotificationArr">
        <ion-row class="marigin-10px row-reverse">
          <ion-col>
            <div class="h7" style="float: right; color: #ff9f0c">
              <b>{{value.notification_date}}</b>
            </div>
            <div class="h6 text-dark"><b>{{value.title}}</b></div>
            <div class="h7 text-dark">{{value.notification_text}}</div>
            <div>
              <button
                type="button"
                class="h7 btn btn-read btn-sm float-right"
                (click)="updateAlertNotification(value)"
              >
                {{ 'SEGREGATENOTIFICATION.read' | translate}}
              </button>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="norecords" *ngIf="enableflag==true">
      {{ 'NORECORDSFOUND.norecordsfound' | translate}}
    </div>
  </div>
</ion-content>
